/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

.countdown-background {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.countdown-wrapper {
    overflow: auto;
    padding: 16px;
    width: 100%;
    text-align: center;
    user-select: none;
}

.flip-clock-wrapper {
    animation: show 2s ease-in forwards;
    margin: 10px 16px;
    opacity: 0;
}

.flip-clock-wrapper * {
    box-sizing: border-box;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
}

.flip-clock-wrapper a:hover {
    color: #fff;
}

.flip-wrapper {
    position: relative;
    margin: 20px 0;
    padding-top: 30px;
}

.countdown-wrapper .read-more {
    display: block;
    padding: 30px;
}

.countdown-wrapper iframe {
    max-width: 100%;
}
