/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

.countdown-background {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.countdown-wrapper {
    overflow: auto;
    padding: 16px;
    text-align: center;
    user-select: none;
}

.flip-clock-wrapper {
    animation: show 2s ease-in forwards;
    margin: 10px 16px;
    opacity: 0;
}

.flip-clock-wrapper * {
    box-sizing: border-box;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
}

.flip-clock-wrapper a:hover {
    color: #fff;
}

.flip-clock-wrapper ul {
    list-style: none;
}

.flip-clock-wrapper.clearfix::before,
.flip-clock-wrapper.clearfix::after {
    content: " ";
    display: table;
}

.flip-clock-wrapper.clearfix::after {
    clear: both;
}

.flip-clock-wrapper.clearfix {
    *zoom: 1;
}

/* Flip Pair Wrapper (EDITED FROM FLIPCLOCK.JS) */

.flip-wrapper {
    position: relative;
    margin: 20px 0;
    padding-top: 30px;
}

/* Main */

.flip-clock-meridium {
    background: none !important;
    box-shadow: 0 0 0 !important;
    font-size: 36px !important;
}

.flip-clock-wrapper::before,
.flip-clock-wrapper::after {
    content: " ";
    display: table;
}

.flip-clock-wrapper::after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
    background: #3689e6;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    height: 90px;
    line-height: 87px;
    margin: 5px;
    position: relative;
    width: 60px;
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 87px;
    text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2;
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    perspective: 200px;
    margin: 0 !important;
    overflow: visible !important;
    cursor: default !important;
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    outline: 1px solid transparent;
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
    transform-origin: 50% 100%;
    top: 0;
}

.flip-clock-wrapper ul li a div.up::after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 3px;
    background-color: #2b63a0;
}

.flip-clock-wrapper ul li a div.down {
    transform-origin: 50% 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #fff;
    text-align: center;
    background-color: #3689e6;
    border-radius: 6px;
    font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0;
}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
}

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3;
}

.flip-clock-wrapper .flip {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    animation: asd 0.5s 0.5s linear both;
    z-index: 5;
}

.flip-clock-divider {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.flip-clock-divider .flip-clock-label {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

@keyframes asd {
    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    animation: turn 0.5s 0.5s linear both;
}

@keyframes turn {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    animation: turn2 0.5s linear both;
}

@keyframes turn2 {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

.flip-clock-wrapper ul li.flip-clock-active {
    z-index: 3;
}

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%;
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%;
    animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%;
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%;
    animation: hide 0.5s 0.3s linear both;
}

/* DOWN */
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: linear, top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%;
    background: linear, to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%;
    animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: linear, top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%;
    background: linear, to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%;
    animation: hide 0.5s 0.2s linear both;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 800px) {
    .flip-wrapper {
        display: inline-block;
    }

    .flip-wrapper:not(:first-of-type) {
        padding-left: 26px;
    }

    .flip-wrapper:not(:first-of-type) .flip-clock-divider .flip-clock-label {
        padding-left: 26px;
    }

    .flip-clock-dot {
        background: #2b63a0;
        border-radius: 50%;
        display: block;
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
    }

    .flip-clock-dot.top {
        top: 60px;
    }

    .flip-clock-dot.bottom {
        bottom: 30px;
    }
}
