/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

/***********
* Sections *
***********/

section {
    padding: 32px 0;
}

@media (min-width: 600px) {
    .hero .two-thirds {
        padding-bottom: 64px;
    }
}

.third p {
    text-align: left;
}

@media only screen and (min-width: 640px) and (max-width: 900px) {
    .grid .third {
        width: 66%;
    }

    .third p {
        text-align: center;
    }
}

/*********
* Button *
*********/

.button.flat.suggested-action {
    background-color: #268bd2;
    border-color: transparent;
    color: #fff;
}

.button.flat.suggested-action:focus {
    background-color: #40a5ec;
}

/* Funding */

#funding .button.flat.suggested-action {
    background-color: #edac35;
}

#funding .button.flat.suggested-action:focus {
    background-color: #ffc357;
    border-color: #ffc357;
}

#funding .third > img {
    margin: -4px; /* Fix some issue to match i.fa */
}

#paypalform {
    margin-left: 4px;
}

/* Translations */

#translations .button.flat.suggested-action {
    background-color: #2aa198;
}

#translations .button.flat.suggested-action:focus {
    background-color: #44bbb2;
}

/* Support */

#support .button.flat.suggested-action {
    background-color: #d53c12;
}

#support .button.flat.suggested-action:focus {
    background-color: #ef562c;
}

/* Web */

#web-development .button.flat.suggested-action {
    background-color: #d33682;
}

#web-development .button.flat.suggested-action:focus {
    background-color: #ed509c;
}

/* Design */

#design .button.flat.suggested-action {
    background-color: #68758e;
}

#design .button.flat.suggested-action:focus {
    background-color: #919caf;
}

@media (max-width: 1080px) {
    .button.flat {
        margin-left: auto;
        margin-right: auto;
    }
}

.actions {
    margin-bottom: 50px;
    margin-top: 50px;
}

.charts .barchart-ctn {
    max-width: 100%;
    width: 780px;
}

.charts .barchart-ctn,
.charts .doughnuts-ctn {
    display: inline-block;
    vertical-align: middle;
}

.charts .doughnuts-ctn {
    margin: 16px 8px;
    min-width: 150px;
}

.charts .doughnuts-ctn .doughnut {
    height: 120px;
    margin: 15px auto;
    position: relative;
    width: 120px;
}

.charts .doughnuts-ctn .doughnut canvas {
    position: relative;
    z-index: 1;
}

.doughnut .doughnut-label {
    font-size: 12px;
    left: 0;
    padding: 11px 0;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 100%;
}

.doughnut .doughnut-count {
    color: #93a1a1;
    font-size: 28px;
}

@media (max-width: 985px) {
    .charts .doughnuts-ctn {
        margin-left: 0;
    }

    .charts .doughnuts-ctn .doughnut {
        display: inline-block;
        margin: 4px;
    }
}

@media (max-width: 360px) {
    .charts .doughnuts-ctn .doughnut {
        height: 70px;
        width: 70px;
    }

    .charts .doughnuts-ctn .doughnut .doughnut-label {
        padding: 4px 0;
    }
}

.doughnut.fixed .doughnut-count {
    color: #95a5ac;
}

.doughnut.in-progress .doughnut-count {
    color: #2aa198;
}

.doughnut.created .doughnut-count {
    color: #dc322f;
}

#sections-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#sections-menu .button.flat {
    flex: 1 1 15%;
    margin: 6px;
    min-width: initial;
}

@media (max-width: 768px) {
    #sections-menu .button.flat {
        flex-basis: 30%;
    }
}

#sections-menu .button.flat:nth-child(1) {
    background-color: #edac35;
}

#sections-menu .button.flat:nth-child(2) {
    background-color: #2aa198;
}

#sections-menu .button.flat:nth-child(3) {
    background-color: #cb4b16;
}

#sections-menu .button.flat:nth-child(4) {
    background-color: #d33682;
}

#sections-menu .button.flat:nth-child(5) {
    background-color: #268bd2;
}

#sections-menu .button.flat:nth-child(6) {
    background-color: #68758e;
}

/******************
* CUSTOM SECTIONS *
******************/

#translations img {
    width: 100%;
}

.web-browser {
    border: 2px solid #abacae;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    margin: 24px auto;
    max-width: 100%;
    padding: 146px 190px 100px;
    position: relative;
    text-align: center;
    width: 888px;
}

.web-browser #toolbar {
    border-bottom: 2px solid #abacae;
    padding: 12px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.web-browser #toolbar img {
    display: inline-block;
    vertical-align: middle;
}

.web-browser #toolbar #search-bar {
    background-color: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    margin: 0 12px;
    width: calc(100% - 128px);
    vertical-align: middle;
}

.web-browser .actions {
    margin-bottom: 0;
}

.web-browser > .actions > a {
    margin-left: 0;
}

@media (max-width: 888px) {
    .web-browser {
        height: auto;
        margin: 24px 2%;
        padding: 110px 130px 40px;
        width: 96%;
    }

    .web-browser > .actions {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .web-browser {
        padding: 80px 24px 24px;
    }
}
