/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

/***********
* Sections *
***********/

section {
    padding: 32px 0;
}

@media (min-width: 600px) {
    .hero .two-thirds {
        padding-bottom: 64px;
    }
}

.third p {
    text-align: left;
}

@media only screen and (min-width: 640px) and (max-width: 900px) {
    .grid .third {
        width: 66%;
    }

    .third p {
        text-align: center;
    }
}

.design-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.design-links > div {
    color: inherit;
    flex: 1 1 200px;
    text-align: center;
    margin: 8px 16px 48px;
}

.design-links .button.flat {
    margin: 12px auto;
}

/*********
* Button *
*********/

.button.flat.suggested-action {
    background-color: #3689e6;
    border-color: transparent;
    color: #fff;
}

.button.flat.suggested-action:focus,
.button.flat.suggested-action:hover {
    background-color: #64baff;
    box-shadow:
        0 2px 3px -1px rgba(30, 51, 134, 0.3),
        0 5px 10px -2px rgba(89, 159, 239, 0.5);
}

/* Funding */

#funding .button.flat.suggested-action {
    background-color: #d48e15;
}

#funding .button.flat.suggested-action:focus,
#funding .button.flat.suggested-action:hover {
    background-color: #f9c440;
    box-shadow:
        0 2px 3px -1px rgba(154, 97, 22, 0.3),
        0 5px 10px -2px rgba(235, 178, 41, 0.5);
}

#funding .third > img,
#funding .third > svg {
    height: 32px;
    margin: -4px; /* Fix some issue to match i.fa */
}

#funding .two-thirds > img,
#funding .two-thirds > svg {
    height: 48px;
    margin: -12px;
}

#paypalform {
    margin-left: 4px;
}

/* Translations */

#translations .button.flat.suggested-action {
    background-color: #3a9104;
}

#translations .button.flat.suggested-action:focus,
#translations .button.flat.suggested-action:hover {
    background-color: #68b723;
    box-shadow:
        0 2px 3px -1px rgba(73, 122, 31, 0.3),
        0 5px 10px -2px rgba(97, 173, 31, 0.5);
}

/* Support */

#support .button.flat.suggested-action {
    background-color: #c6262e;
}

#support .button.flat.suggested-action:focus,
#support .button.flat.suggested-action:hover {
    background-color: #ed5353;
    box-shadow:
        0 2px 3px -1px rgba(144, 21, 20, 0.3),
        0 5px 10px -2px rgba(213, 57, 65, 0.5);
}

/* Web */

#web-development .button.flat.suggested-action {
    background-color: #7239b3;
}

#web-development .button.flat.suggested-action:focus,
#web-development .button.flat.suggested-action:hover {
    background-color: #a56de2;
    box-shadow:
        0 2px 3px -1px rgba(73, 55, 147, 0.3),
        0 5px 10px -2px rgba(156, 100, 218, 0.5);
}

/* Design */

#design .button.flat.suggested-action {
    background-color: #667885;
}

#design .button.flat.suggested-action:focus,
#design .button.flat.suggested-action:hover {
    background-color: #95a3ab;
    box-shadow:
        0 2px 3px -1px rgba(81, 94, 107, 0.3),
        0 5px 10px -2px rgba(131, 147, 157, 0.5);
}

.actions {
    margin-bottom: 50px;
    margin-top: 50px;
}

.charts .barchart-ctn {
    max-width: 100%;
    width: 780px;
}

.charts .barchart-ctn,
.charts .doughnuts-ctn {
    display: inline-block;
    vertical-align: middle;
}

.charts .doughnuts-ctn {
    margin: 16px 8px;
    min-width: 150px;
}

.charts .doughnuts-ctn .doughnut {
    height: 120px;
    margin: 15px auto;
    position: relative;
    width: 120px;
}

.charts .doughnuts-ctn .doughnut canvas {
    position: relative;
    z-index: 1;
}

.doughnut .doughnut-label {
    font-size: 12px;
    left: 0;
    padding: 11px 0;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 100%;
}

.doughnut .doughnut-count {
    color: #93a1a1;
    font-size: 28px;
}

@media (max-width: 985px) {
    .charts .doughnuts-ctn {
        margin-left: 0;
    }

    .charts .doughnuts-ctn .doughnut {
        display: inline-block;
        margin: 4px;
    }
}

@media (max-width: 360px) {
    .charts .doughnuts-ctn .doughnut {
        height: 70px;
        width: 70px;
    }

    .charts .doughnuts-ctn .doughnut .doughnut-label {
        padding: 4px 0;
    }
}

.doughnut.fixed .doughnut-count {
    color: #95a5ac;
}

.doughnut.in-progress .doughnut-count {
    color: #3a9104;
}

.doughnut.created .doughnut-count {
    color: #c6262e;
}

#sections-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#sections-menu .button.flat {
    flex: 1 1 15%;
    margin: 6px;
    min-width: initial;
}

@media (max-width: 768px) {
    #sections-menu .button.flat {
        flex-basis: 30%;
    }
}

#sections-menu .button.flat:nth-child(1) {
    background-color: #d48e15;
}

#sections-menu .button.flat:nth-child(1):focus,
#sections-menu .button.flat:nth-child(1):hover {
    background-color: #f9c440;
    box-shadow:
        0 2px 3px -1px rgba(154, 97, 22, 0.3),
        0 5px 10px -2px rgba(235, 178, 41, 0.5);
}

#sections-menu .button.flat:nth-child(2) {
    background-color: #3a9104;
}

#sections-menu .button.flat:nth-child(2):focus,
#sections-menu .button.flat:nth-child(2):hover {
    background-color: #68b723;
    box-shadow:
        0 2px 3px -1px rgba(73, 122, 31, 0.3),
        0 5px 10px -2px rgba(97, 173, 31, 0.5);
}

#sections-menu .button.flat:nth-child(3) {
    background-color: #c6262e;
}

#sections-menu .button.flat:nth-child(3):focus,
#sections-menu .button.flat:nth-child(3):hover {
    background-color: #ed5353;
    box-shadow:
        0 2px 3px -1px rgba(144, 21, 20, 0.3),
        0 5px 10px -2px rgba(213, 57, 65, 0.5);
}

#sections-menu .button.flat:nth-child(4) {
    background-color: #7239b3;
}

#sections-menu .button.flat:nth-child(4):focus,
#sections-menu .button.flat:nth-child(4):hover {
    background-color: #a56de2;
    box-shadow:
        0 2px 3px -1px rgba(73, 55, 147, 0.3),
        0 5px 10px -2px rgba(156, 100, 218, 0.5);
}

#sections-menu .button.flat:nth-child(5) {
    background-color: #3689e6;
}

#sections-menu .button.flat:nth-child(5):focus,
#sections-menu .button.flat:nth-child(5):hover {
    background-color: #64baff;
    box-shadow:
        0 2px 3px -1px rgba(30, 51, 134, 0.3),
        0 5px 10px -2px rgba(89, 159, 239, 0.5);
}

#sections-menu .button.flat:nth-child(6) {
    background-color: #667885;
}

#sections-menu .button.flat:nth-child(6):focus,
#sections-menu .button.flat:nth-child(6):hover {
    background-color: #95a3ab;
    box-shadow:
        0 2px 3px -1px rgba(81, 94, 107, 0.3),
        0 5px 10px -2px rgba(131, 147, 157, 0.5);
}

/******************
* CUSTOM SECTIONS *
******************/

#translations img {
    width: 100%;
}

.web-browser {
    border: 2px solid #abacae;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    margin: 24px auto;
    max-width: 100%;
    padding: 146px 190px 100px;
    position: relative;
    text-align: center;
    width: 888px;
}

.web-browser #toolbar {
    border-bottom: 2px solid #abacae;
    padding: 12px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
}

.web-browser #toolbar img {
    display: inline-block;
    vertical-align: middle;
}

.web-browser #toolbar #search-bar {
    background-color: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    margin: 0 12px;
    width: calc(100% - 128px);
    vertical-align: middle;
}

.web-browser .actions {
    margin-bottom: 0;
}

@media (max-width: 888px) {
    .web-browser {
        height: auto;
        margin: 24px 2%;
        padding: 110px 130px 40px;
        width: 96%;
    }

    .web-browser > .actions {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .web-browser {
        padding: 80px 24px 24px;
    }
}
