/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

/**********************************
* Hardware partners and retailers *
**********************************/

#devices * {
    text-align: center;
}

#devices h4 {
    border-bottom: 3px solid #08c;
    font-size: 1.25em;
    font-weight: 900;
    margin: 0 0 0.25em;
    padding: 0 0 0.5em;
    text-align: left;
}

#devices ul {
    margin: 0;
    padding: 0;
}

#devices li {
    line-height: 1.25;
    list-style: none;
    margin: 0.75em 0;
    text-align: left;
}
