/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

h1 {
    clear: both;
}

a.column {
    color: inherit;
    transition: color 250ms ease-in-out;
}

a.column:hover,
a.column:focus,
a.column:active {
    color: #08c;
    fill: #08c;
    text-decoration: none;
}

a.column h3 {
    margin-bottom: 0.5em;
}

/***********
* App grid *
***********/

.row.apps {
    padding-bottom: 0;
    padding-top: 12px;
    text-align: center;
}

.row.apps .app {
    border: 1px solid transparent;
    border-radius: 4px;
    color: inherit;
    display: inline-block;
    margin: 12px 0;
    padding: 12px;
    text-align: left;
    transition: border-color 150ms ease-in-out;
    vertical-align: top;
    width: 100%;
    word-wrap: break-word;
}

.row.apps .app:hover,
.row.apps .app:focus,
.row.apps .app:active {
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.row.apps .app img,
.row.apps .app span {
    display: inline-block;
}

.row.apps .app img {
    vertical-align: middle;
}

@media (min-width: 600px) {

    .row.apps .app {
        text-align: center;
        width: 192px;
    }

    .row.apps .app img,
    .row.apps .app span {
        display: block;
    }

    .row.apps .app img {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }

}

.row.apps .app span {
    line-height: 24px;
    padding: 16px 12px 0 12px;
}
