<footer>
  <p>© {{ site.time | date: '%Y' }} elementary, Inc</p>
  <ul>
    <li><a href="https://elementary.io/press" target="_self">Press</a></li>
    <li><a href="https://elementary.io/brand" target="_self">Brand</a></li>
    <li><a href="https://elementary.io/oem" target="_self">OEMs</a></li>
    <li><a href="https://elementary.io/privacy" target="_self">Privacy</a></li>
    <li><a href="https://elementary.io/team" target="_self">Team</a></li>
    <li><a href="https://elementary.io/open-source" target="_self">Open Source</a></li>
  </ul>
</footer>
