<header>
  <nav class="primary">
    <ul>
      <li><a href="{{ site.baseurl }}/" class="logomark" target="_self">
        {% include svg/logomark.svg %}
      </a></li>

      <li><a href="https://elementary.io/support" target="_self">Support</a></li>
      <li><a href="https://developer.elementary.io" target="_self">Developer</a><</li>
      <li><a href="https://elementary.io/get-involved" target="_self">Get Involved</a></li>
      <li><a href="https://store.elementary.io">Store</a></li>
      <li><a href="https://blog.elementary.io">Blog</a></li>
    </ul>

    <ul>
      <li><a href="/download" class="button">Download</a></li>
      <li><a href="https://store.elementary.io" class="button suggested">Shop Devices</a></li>
    </ul>
  </nav>
</header>
