.button {
  border: 1px solid var(--accent-color);
  border-radius: 0.25em;
  font-family: var(--ui-font);
  margin: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;

  &.suggested {
    background-color: var(--accent-color);
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.05),
      0 3px 3px rgba(0, 0, 0, 0.22);
    color: var(--bg-color);
  }

  &.flat {
    border: none;
  }
}
