/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

.category {
    text-align: left;
}

.product {
    display: inline-block;
    margin: 20px;
    width: 200px;
    display: relative;
}

/********
* Popup *
********/

.popup {
    position: fixed;
    top: 50px;
    left: 20%;
    width: 80%;
    margin: 0 -10%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
    // opacity: 0;
    transition: visibility 0s 250ms, opacity 250ms;
    // visibility: hidden;
    padding: 30px;
    z-index: 2;
}

.popup .popup-content:before,
.popup .popup-content:after {
    border: 10px outset transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
}

.popup .popup-content:before {
    border-top: 10px solid rgba(0, 0, 0, 0.2);
    bottom: -20px;
}

.popup .popup-content:after {
    border-top: 10px solid white;
    bottom: -18px;
}

.popup.active .popup-content {
    opacity: 1;
    transition: opacity 250ms;
    visibility: visible;
}

.popup .popup-content strong {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
}

.popup .popup-content ul {
    margin: 5px 0;
    max-height: 500px;
    overflow: auto;
    padding: 0;
}

@media (max-height: 700px) {

    .popup .popup-content ul {
        max-height: 300px;
    }

}

@media (max-height: 450px) {

    .popup .popup-content ul {
        max-height: 200px;
    }

}

.popup .popup-content ul li {
    display: block;
    margin: 0;
}

.popup .popup-content ul li a {
    display: block;
    padding: 5px 15px;
}

.popup .popup-content ul li a:hover {
    background-color: #e0e0e0;
}

.popup .popup-content hr {
    background: #e0e0e0;
    border: 0;
    height: 1px;
}
