/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

.category {
    text-align: left;
}

.product {
    display: inline-block;
    margin: 20px;
    width: 200px;
    display: relative;
}
