.page-brand .hex {
    font-family: mono;
}

.page-brand .hex::before {
    content: "#"
}

.page-brand dl {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    margin: 24px;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(0,0,0, 0.35),
                inset 0 0 0 2px rgba(255,255,255, 0.10),
                inset 0 2px 0 0 rgba(255,255,255, 0.45),
                inset 0 -2px 0 0 rgba(255,255,255, 0.15),
                0 1px 3px 0 rgba(0,0,0,0.12),
                0 1px 2px 0 rgba(0,0,0,0.24);
}

.page-brand .blue {
    background-color: #3892e0;
    color: #fff;
}

.page-brand .red {
    background-color: #da4d45;
    color: #fff;
}

.page-brand .orange {
    background-color: #f37329;
    color: #fff;
}

.page-brand .yellow {
    background-color: #fbd25d;
}

.page-brand .green {
    background-color: #93d844;
}

.page-brand .purple {
    background-color: #8a4ebf;
    color: #fff;
}

.page-brand .white {
    background-color: #fff;
}

.page-brand .black {
    background-color: #333;
    color: #fff;
}

.page-brand dt,
.page-brand dd {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
}

.page-brand dt {
    transform: translate(-50%, -100%);
}

.page-brand dd {
    transform: translate(-50%, 0%);
    opacity: 0.8;
        font-size: 14px;
}
