html,
body {
    background-image: url('../images/developer/grid-pattern.png');
    background-color: #226BB3;
    color: white;
}

nav .logomark {
    background-image: url("../images/logomark-light.svg");
}

.row {
    text-align: left;
}

.developer-sum {
    padding-bottom: 200px;
    background-image: url('../images/developer/developer-sketch.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.developer-sections .dev-section a {
    color: inherit;
    display: inline-block;
    padding: 16px 16px 16px 128px;
    transition: all 200ms;
}

.developer-sections .dev-section a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dev-section {
    border: dashed rgba(255, 255, 255, 0.6);
    border-width: 0 0 1px 1px;
    background-repeat: no-repeat;
    background-position: center left 30px;
}

@media (max-width: 1176px) {
    .dev-section {
        border-left-width: 0;
    }
}

.dev-section:last-child {
    border-bottom-width: 0;
}

#dev-section-1 {
    background-image: url('../images/developer/dev-design.png');
}

#dev-section-2 {
    background-image: url('../images/developer/dev-code.png');
}

#dev-section-3 {
    background-image: url('../images/developer/dev-manage.png');
}

#dev-section-4 {
    background-image: url('../images/developer/dev-dist.png');
}
