/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

nav {
    background-color: #403757;
    color: #fff;
    fill: #fff;
}

nav > ul > li > a:focus {
    color: #1f1f1f;
    fill: #1f1f1f;
}

footer ul li a:focus i.fa {
    color: #1f1f1f;
    text-shadow: 0 1px 6px #fff;
}

/*********
* Button *
*********/

.dark button.suggested-action,
.dark .button.suggested-action {
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(0, 0, 0, 0.15);
}

.dark button.suggested-action:active,
.dark .button.suggested-action:active {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.25),
                0 2px 0 0 rgba(255, 255, 255, 0.10);
}

/*******
* Hero *
*******/

section.hero {
    background-color: #403757;
    color: #fff;
    text-align: center;
    padding: 64px 0;
    max-width: 100%;
}

section.hero .button.suggested-action{
    max-width: 100%;
}

/*******
* Other *
*******/

@media only screen and (min-width: 640px) {
    .grid .grid .half {
        text-align: center;
    }
}

.third .fa {
    color: #403757;
}

footer,
.grey {
    background-color: #fafafa;
}
