/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

nav {
    color: #fff;
    fill: #fff;
    position: absolute;
    width: 100%;
    z-index: 3;
}

nav > ul > li > a:focus {
    color: #1f1f1f;
    fill: #1f1f1f;
}

footer ul li a:focus i.fa {
    color: #1f1f1f;
    text-shadow: 0 1px 6px #fff;
}

/*********
* Button *
*********/

.dark button.suggested-action,
.dark .button.suggested-action {
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(0, 0, 0, 0.15);
}

.dark button.suggested-action:active,
.dark .button.suggested-action:active {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.25),
                0 2px 0 0 rgba(255, 255, 255, 0.10);
}

/*******
* Hero *
*******/

section.hero {
    background-color: #4D4267;
    background-image: radial-gradient(#4D4267 0%, #2a2438 100%);
    color: #fff;
    text-align: center;
    padding: 120px 0 64px 0;
    max-width: 100%;
    position: relative;
}

section.hero::before {
    background-image: linear-gradient(0deg, transparent 0%, transparent 18px, rgba(255, 255, 255, 0.06) 18px, rgba(255, 255, 255, 0.06) 20px, transparent 20px, transparent 38px, rgba(255, 255, 255, 0.03) 38px, rgba(255, 255, 255, 0.03) 40px, transparent 40px, transparent 58px, rgba(255, 255, 255, 0.03) 58px, rgba(255, 255, 255, 0.03) 60px, transparent 60px, transparent 78px, rgba(255, 255, 255, 0.03) 78px, rgba(255, 255, 255, 0.03) 80px, transparent 80px, transparent 98px, rgba(255, 255, 255, 0.03) 98px, rgba(255, 255, 255, 0.03) 100px), linear-gradient(-90deg, transparent 0%, transparent 18px, rgba(255, 255, 255, 0.06) 18px, rgba(255, 255, 255, 0.06) 20px, transparent 20px, transparent 38px, rgba(255, 255, 255, 0.03) 38px, rgba(255, 255, 255, 0.03) 40px, transparent 40px, transparent 58px, rgba(255, 255, 255, 0.03) 58px, rgba(255, 255, 255, 0.03) 60px, transparent 60px, transparent 78px, rgba(255, 255, 255, 0.03) 78px, rgba(255, 255, 255, 0.03) 80px, transparent 80px, transparent 98px, rgba(255, 255, 255, 0.03) 98px, rgba(255, 255, 255, 0.03) 100px);
    background-size: 100px 100px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

section.hero > div {
    position: relative;
}

section.hero .button.suggested-action{
    max-width: 100%;
}

section.hero .small-label a {
    color: inherit;
    font-weight: bold;
}

section.hero .small-label a:hover {
    text-decoration: underline;
}

/*******
* Other *
*******/

@media only screen and (min-width: 640px) {
    .grid .grid .half {
        text-align: center;
    }
}

.third .fa {
    color: #4D4267;
}

footer,
.grey {
    background-color: #fafafa;
}

/******************
* Loki Beta Popup *
******************/

.modal p {
    margin: 0 auto;
}

#entrycheck {
    margin: 24px 0 0 0;
}

#entrycheck * {
    display: block;
    margin: 6px 0;
    width: 100%;
}

#entrycheck label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
