/***************************************
* Copyright 2015 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

h2,
h3,
h4 {
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: left;
}

h4 {
    font-weight: 400;
}

h1 a.heading-link,
h2 a.heading-link,
h3 a.heading-link,
h4 a.heading-link,
h5 a.heading-link,
h6 a.heading-link {
    color: inherit;
    fill: inherit;
    position: relative;
}

h1 a.heading-link:hover,
h2 a.heading-link:hover,
h3 a.heading-link:hover,
h4 a.heading-link:hover,
h5 a.heading-link:hover,
h6 a.heading-link:hover {
    color: #08c;
    fill: #08c;
}

h1 a.heading-link:active,
h2 a.heading-link:active,
h3 a.heading-link:active,
h4 a.heading-link:active,
h5 a.heading-link:active,
h6 a.heading-link:active {
    text-decoration: none;
}

h1 a.heading-link:hover:before,
h2 a.heading-link:hover:before,
h3 a.heading-link:hover:before,
h4 a.heading-link:hover:before,
h5 a.heading-link:hover:before,
h6 a.heading-link:hover:before {
    content: "\f0c1";
    font-family: FontAwesome;
    font-size: 0.75em;
    left: -1.25em;
    position: absolute;
    top: 0.5em;
}

.clear-float {
    clear: both;
    padding-top: 32px;
}

img.float-left {
    margin-right: 24px;
}

kbd {
    -moz-user-select: none;
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, #e9e9e9, #fff);
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff,
                inset 0 -2px 0 0 #d9d9d9;
    color: #4d4d4d;
    font-family: monospace;
    margin: 3px;
    padding: 2px 4px;
}

code,
pre,
kbd {
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-family: "Droid Sans Mono";
    font-size: 90%;
    padding: 2px 4px;
    text-align: justify;
    white-space: nowrap;
}

kbd {
    display: inline-block;
    min-width: 22px;
    text-align: center;
}

code {
    background-color: #f1f2f7;
    color: #3a416f;
}

pre {
    overflow: auto;
    padding: 8px;
}

pre > code {
    border: none;
    padding: 0;
    white-space: pre;
}

/***************
* Line numbers *
***************/

pre.highlighted {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0;
}

pre.highlighted code {
    border-radius: 0 3px 3px 0;
    line-height: 1.5em;
}

pre.highlighted .pre-numbering {
    background-color: #eee8d5;
    border-radius: 3px 0 0 3px;
    color: #9faaa9;
    float: left;
    font-size: 90%;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    min-width: 2.5em;
    padding: 0.5em;
    text-align: right;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

p + p {
    margin-top: 2em;
}

p + h1,
pre + h1 {
    margin-top: 128px;
}

nav {
    background-color: #3a416f;
    color: #fff;
    fill: #fff;
    position: relative;
    z-index: 100;
}

.row.docs,
.row.docs .slide {
    max-width: 800px;
}

.row.docs-index {
    margin: 0;
    padding: 0;
}

.row.docs-index ul {
    list-style: none;
}

.row.docs-index a {
    color: inherit;
    font-size: 14px;
}

.sidebar {
    background-color: #fcfcfc;
    border-right: 1px solid #f0f0f0;
    height: 100%;
    list-style-type: none;
    margin-top: -56px;
    max-width: 300px;
    overflow: auto;
    padding: 16px 0;
    position: fixed;
    transition: all 0.15s ease-in-out;
}

.sidebar.nav-visible {
    padding-top: 72px;
}

.sidebar.footer-visible {
    border-bottom: 1px solid #f0f0f0;
    border-bottom-right-radius: 3px;
    height: calc(100% - 42px);
}

.sidebar a {
    color: #666;
    display: block;
    font-size: 90%;
    overflow: hidden;
    padding-right: 6px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar a:hover {
    color: #3a416f;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar > ul {
    padding-left: 32px;
}

.sidebar > li > a {
    font-weight: 600;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
}


@media (max-width: 990px) {

    .sidebar {
        display: none;
    }

}

@media (min-width: 990px) and (max-width: 1400px) {

    .row.docs {
        margin: 0 auto 0 300px;
    }

}
