html,
body {
    background-color: #3e4e54;
    color: #c8d0d0;
    fill: #c8d0d0;
}

/* SECTIONS */
section,
section.hero {
    padding-bottom: 96px;
}

section.light {
    background-color: #fdf6e3;
    color: #586e75;
}

section .heading {
    background-color: rgba(0,0,0,0.04);
}

section .heading p.small-label {
    text-align: right;
    font-size: 18px;
}

section .heading p.small-label a,
section .heading p.small-label a:hover {
    color: inherit;
}

.column.half {
    text-align: left;
    vertical-align: middle;
}

/*********
* Button *
*********/

.button.flat {
    display: block;
    font-weight: bold;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border-width: 2px;
    padding: 7px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light .button.flat {
    border-color: rgba(88, 110, 117, 0.5);
    color: #586e75;
}

.dark .button.flat {
    border-color: rgba(200, 208, 208, 0.5);
    color: #c8d0d0;
}

.button.flat.suggested-action {
    color: white;
}

.button.flat:focus {
    background-color: rgba(200, 208, 208, 0.5);
}

section:nth-child(2) .button.flat.suggested-action {
    background-color: #2aa198;
    border-color: #2aa198;
}

section:nth-child(2) .button.flat.suggested-action:focus {
    background-color: #44BBB2!important;
}

section:nth-child(3) .button.flat.suggested-action {
    background-color: #d53c12;
    border-color: #d53c12;
}

section:nth-child(3) .button.flat.suggested-action:focus {
    background-color: #EF562C!important;
}

section:nth-child(4) .button.flat.suggested-action {
    background-color: #268bd2;
    border-color: #268bd2;
}

section:nth-child(4) .button.flat.suggested-action:focus {
    background-color: #40A5EC!important;
}

section:nth-child(5) .button.flat.suggested-action {
    background-color: #d33682;
    border-color: #d33682;
}

section:nth-child(5) .button.flat.suggested-action:focus {
    background-color: #ED509C!important;
}

@media (max-width: 1080px) {
    .button.flat {
        margin-left: auto;
        margin-right: auto;
    }

    .actions {
        margin-bottom: 50px;
    }
}

.charts .barchart-ctn {
    width: 780px;
    max-width: 100%;
}

.charts .barchart-ctn,
.charts .doughnuts-ctn {
    display: inline-block;
    vertical-align: middle;
}

.charts .doughnuts-ctn {
    margin-left: 30px;
}
.charts .doughnuts-ctn .doughnut {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 15px;
}

.charts .doughnuts-ctn .doughnut canvas {
    position: relative;
    z-index: 1;
}

.doughnut .doughnut-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 11px 0;
    font-size: 12px;
    text-align: center;
}

.doughnut .doughnut-count {
    color: #93a1a1;
    font-size: 28px;
}

@media (max-width: 985px) {
    .charts .doughnuts-ctn {
        margin-left: 0;
    }
    .charts .doughnuts-ctn .doughnut {
        display: inline-block;
        margin: 4px;
    }
}

@media (max-width: 360px) {
    .charts .doughnuts-ctn .doughnut {
        width: 70px;
        height: 70px;
    }

    .charts .doughnuts-ctn .doughnut .doughnut-label {
        padding: 4px 0;
    }
}

.doughnut.fix-committed .doughnut-count {
    color: #95A5AC;
}

.doughnut.in-progress .doughnut-count {
    color: #2aa198;
}

.doughnut.created .doughnut-count {
    color: #dc322f;
}

.row.hero .actions .button.flat {
    display: inline-block;
    color: #c8d0d0;
    border: 2px solid #c8d0d0;
    border-radius: 4px;
    min-width: 200px;
}

.row.hero .actions .button.flat:nth-child(1) {
    border-color: #2aa198;
}

.row.hero .actions .button.flat:nth-child(2) {
    border-color: #cb4b16;
}

.row.hero .actions .button.flat:nth-child(3) {
    border-color: #268bd2;
}

.row.hero .actions .button.flat:nth-child(4) {
    border-color: #d33682;
}

/* CUSTOM SECTIONS */
.web-browser {
    background-image: url("../images/get-involved/web-development.svg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 888px;
    height: 444px;
    max-width: 100%;
    margin: 24px auto;
    padding: 110px 190px;
    text-align: left;
    box-sizing: border-box;
}

@media (max-width: 888px) {
    .web-browser {
        background-position: -2px 0;
        width: 100%;
        height: auto;
        padding: 24px;
        padding-top: 50px;
        margin: 24px 0;
    }
}
