/***************************************
* Copyright 2015 elementary LLC.       *
* This file is part of elementaryos.io *
***************************************/

html,
body {
    background-color: #3e4e54;
    color: #c8d0d0;
    fill: #c8d0d0;
}

footer {
    background-color: #fdf6e3;
    color: #586e75;
    fill: #586e75;
}

/***********
* Sections *
***********/

section {
    padding-bottom: 64px;
}

section.light {
    background-color: #fdf6e3;
    color: #586e75;
}

section .heading {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 16px 32px;
    text-align: center;
}

section .heading p.small-label {
    font-size: 18px;
    text-align: right;
}

section .heading p.small-label a,
section .heading p.small-label a:hover {
    color: inherit;
}

/*********
* Button *
*********/

.light .button.flat {
    border-color: rgba(88, 110, 117, 0.5);
    color: #586e75;
}

.dark .button.flat {
    border-color: rgba(200, 208, 208, 0.5);
    color: #c8d0d0;
}

.button.flat.suggested-action {
    color: white;
}

.button.flat:focus {
    background-color: rgba(200, 208, 208, 0.5);
}

#translations .button.flat.suggested-action {
    background-color: #2aa198;
    border-color: #2aa198;
}

#translations .button.flat.suggested-action:focus {
    background-color: #44bbb2 !important;
}

#web-development .button.flat.suggested-action {
    background-color: #d53c12;
    border-color: #d53c12;
}

#web-development .button.flat.suggested-action:focus {
    background-color: #ef562c !important;
}

#design .button.flat.suggested-action {
    background-color: #268bd2;
    border-color: #268bd2;
}

#design .button.flat.suggested-action:focus {
    background-color: #40a5ec !important;
}

#desktop-development .button.flat.suggested-action {
    background-color: #d33682;
    border-color: #d33682;
}

#desktop-development .button.flat.suggested-action:focus {
    background-color: #ed509c !important;
}

#funding .button.flat.suggested-action {
    background-color: #edac35;
    border-color: #edac35;
}

#funding .button.flat.suggested-action:focus {
    background-color: #ffc357 !important;
}

@media (max-width: 1080px) {

    .button.flat {
        margin-left: auto;
        margin-right: auto;
    }

}

.actions {
    margin-bottom: 50px;
    margin-top: 50px;
}

.charts .barchart-ctn {
    max-width: 100%;
    width: 780px;
}

.charts .barchart-ctn,
.charts .doughnuts-ctn {
    display: inline-block;
    vertical-align: middle;
}

.charts .doughnuts-ctn {
    margin-left: 30px;
}

.charts .doughnuts-ctn .doughnut {
    height: 90px;
    margin: 15px;
    position: relative;
    width: 90px;
}

.charts .doughnuts-ctn .doughnut canvas {
    position: relative;
    z-index: 1;
}

.doughnut .doughnut-label {
    font-size: 12px;
    left: 0;
    padding: 11px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.doughnut .doughnut-count {
    color: #93a1a1;
    font-size: 28px;
}

@media (max-width: 985px) {

    .charts .doughnuts-ctn {
        margin-left: 0;
    }

    .charts .doughnuts-ctn .doughnut {
        display: inline-block;
        margin: 4px;
    }

}

@media (max-width: 360px) {

    .charts .doughnuts-ctn .doughnut {
        height: 70px;
        width: 70px;
    }

    .charts .doughnuts-ctn .doughnut .doughnut-label {
        padding: 4px 0;
    }

}

.doughnut.fixed .doughnut-count {
    color: #95a5ac;
}

.doughnut.in-progress .doughnut-count {
    color: #2aa198;
}

.doughnut.created .doughnut-count {
    color: #dc322f;
}

.hero .actions .button.flat {
    border: 2px solid #c8d0d0;
    border-radius: 4px;
    color: #c8d0d0;
    display: inline-block;
    min-width: 200px;
    vertical-align: middle;
}

.hero .actions .button.flat:nth-child(1) {
    border-color: #2aa198;
}

.hero .actions .button.flat:nth-child(2) {
    border-color: #cb4b16;
}

.hero .actions .button.flat:nth-child(3) {
    border-color: #268bd2;
}

.hero .actions .button.flat:nth-child(4) {
    border-color: #d33682;
}

.hero .actions .button.flat:nth-child(5) {
    border-color: #edac35;
}

/******************
* CUSTOM SECTIONS *
******************/

#translations img {
    width: 100%;
}

.web-browser {
    background-image: url("../images/get-involved/web-development.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 2px solid #808b8e;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    margin: 24px auto;
    max-width: 100%;
    padding: 110px 190px 40px 190px;
    text-align: left;
    width: 888px;
}

.web-browser > .actions > a {
    margin-left: 0;
}

@media (max-width: 888px) {

    .web-browser {
        height: auto;
        margin: 24px 2%;
        padding: 110px 130px 40px 130px;
        width: 96%;
    }

    .web-browser > .actions {
        margin-bottom: 30px;
        margin-top: 30px;
    }

}

@media (max-width: 600px) {

    .web-browser {
        background-image: url("../images/get-involved/web-development-mobile.svg");
        padding: 80px 24px 24px 24px;
    }

}
