#the-press {
    font-size: 24px;
    opacity: 0.65;
}

#carousel {
    background-color: #0d6c7f;
    background-image: linear-gradient(to bottom,
                                  #015263,
                                  #338b9f
                                  );
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    min-height: 100vh;
    overflow: hidden;
}

#carousel > .row + .row {
    padding-top: 0;
}

#carousel-choices {
    margin-bottom: 0;
}

#carousel-choices .button {
    padding: 8px 16px;
    line-height: 16px;
}

#carousel-choices svg {
    vertical-align: middle;
}

#carousel-choices .label {
    display: none;
}

#carousel .slide.row {
    max-width: initial;
}

#carousel .slide > .column {
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

#carousel .slide > .column:first-child {
    margin: 0;
}

@media (max-width: 404px) {
    #carousel .slide > .column:nth-child(2) {
      margin-top: -48px;
    }
}

@media (min-width: 434px) {
    #carousel-choices .button {
    line-height: initial;
    }

    #carousel-choices .label {
        display: initial;
    }

    #carousel-choices svg {
        display: none;
    }
}

@media (min-width: 1350px) {
    #carousel {
        background-image: url("../images/screenshots/background.jpg");
        background-size: cover;
    }

    #carousel .slide > .column:nth-child(2) {
        margin-top: 33px;
    }
}

#carousel .column.alert img {
    height: 64px;
    width: 64px;
}

#carousel .slide > .column .column:nth-child(2) {
    max-width: 256px;
}

.vertical-top {
    vertical-align: top;
}

/* Slingshot */
#slingshot {
    width: 100%;
    max-width: 1800px;
}

#slingshot .column:nth-child(2) .symbolic-icon {
    display: inline-block;
    float: left;
    margin: 4px 6px 4px -24px;
}

.symbolic {
    fill: #333;
}

.slingshot {
    height: 512px;
    width: 678px;
    background-color: #f5f5f5;
    background-clip: padding-box;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                0 3px 6px rgba(0,0,0,0.23);
    padding: 12px;
    display: inline-block;
    margin-right: 24px;
    pointer-events: none;

    transition: all 200ms ease-out;
}

#slingshot-arrow {
    position: relative;
    left: 12px;
    top: 5px;
    width: 30px;
    height: 20px;
    z-index: 100;
}

.slingshot .linked {
    margin: 0;
    display: inline-block;
    transition: all 200ms ease-out;
}

.slingshot .linked.inactive {
    margin-left: -73px;
}

.slingshot .button {
    width: 30px;
    fill: #333;
    background-image: none;
}

.slingshot .entry {
    width: 579px;
    display: inline-block;
    background-image: linear-gradient(to bottom,
                                  #f0f0f0,
                                  #f5f5f5
                                  );

    border: 1px solid rgba(61,155,218,0.80);
    border-radius: 2.5px;

    box-shadow: inset 0 0 0 1px rgba(61,155,218,0.23),
                0 1px 0 0 rgba(255,255,255,0.30);

    text-align: left;

    fill: #a6a6a6;
    color: #333;
    text-shadow: 0 1px rgba(255,255,255,0.4);
    margin-left: 8px;

    transition: all 200ms ease-out;
}

.slingshot .entry.expanded {
    width: 100%;
}

.entry .symbolic {
    opacity: 0.4;
    fill: #333;
}

.slingshot .button,
.slingshot .entry {
    height: 25px;
    padding: 3px 6px;
}

#slingshot-grid .slingshot-grid {
    margin-left: 12px;
}

.app {
    float: left;
    display: inline-block;
    width: 130px;
    height: 116px;
    margin: 0;
    margin-top: 27px;
    vertical-align: top;
}

.app img {
    width: 64px;
    height: 64px;
}

.app p {
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    font-size: 9pt;
    text-align: center;
    margin-top: 6px;
}

#slingshot-pager {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 5px;
}

#slingshot-pager .button {
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    font-size: 9pt;
    margin: 0;
    height: 23px;
    line-height: 16px;
}

/* Categories */

.slingshot-categories-sidebar {
    display: block;
    height: 456px;
    width: 124px;
    margin-top: 16px;
    float:left;
    border-right: 1px solid #A7A7A7;

    transition: all 200ms ease-out;
}

.slingshot-category {
    display: block;
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    color: #A7ACAB;
    text-shadow:0 1px rgba(255,255,255,0.4);
    font-size: 9pt;
    line-height: 9pt;
    text-align: left;
    padding: 7px 12px 6px 16px;
}

.slingshot-category.active {
    color: #717171;
    background-image: linear-gradient(to bottom,#DBDBDB,#E3E3E3);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.02),
                inset 0 1px 0 0 rgba(0,0,0,0.05),
                inset 0 2px 0 0 rgba(0,0,0,0.05),
                inset 0 -1px 0 0 rgba(0,0,0,0.05);
}

.slingshot-categories {
    padding-top: 12px;
    margin-left: 127px;
}

.slingshot .search-entry {
    margin: 0 auto;
    width: 653px;
}

/* Search */

.clear-icon {
    float:right;
}

.clear-icon.inactive {
    display: none;
}

img.result-img {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.slingshot-search-results {
    display: block;
    float:left;
    width: 100%;
    margin:6px 0;
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    color: #333;
    text-shadow:none;
    font-size: 9pt;
    line-height: 9pt;
    text-align: left;
}

.slingshot-search-results.inactive {
    display: none;
}

span.search-term,
span.cursor {
    position: relative;
    display: inline-block;
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    color: #333;
    text-shadow:none;
    height: 16px;
    font-size: 9pt;
    line-height: 18px;
}

span.search-term {
    margin-right: -8px;
    width: 14px;
    transition: all 1s steps(2, start);
    overflow: hidden;
}

span.search-term.inactive {
    width: 0;
    transition: none;
}

span.cursor {
    font-size: 12pt;
    top: -4px;
    animation: blink 1.2s steps(5, start) infinite;
    -webkit-animation: blink 1.2s steps(5, start) infinite;

}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

.top-result {
    background-color: #c4c4c4;
    padding: 12px 0;
}

span.results-title {
    font-weight: bold;
    display: block;
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    color: #707070;
    text-shadow:0 1px rgba(255,255,255,0.4);
    font-size: 9pt;
    line-height: 9pt;
    text-align: left;
    margin: 18px 8px 6px 8px;
}

.search-result {
    display: block;
    padding: 4px 16px;
    border-radius: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

/* Animate */

.slingshot {
    overflow: hidden;
    position: relative;
}

.slingshot .view {
    width: 100%;
    max-width: 680px;
    float: left;
    transition: all 200ms ease-in-out;
    position: absolute;
    bottom: -37px;
    left: 0;
    height: 100%;
}

.slingshot .view.previous {
    transform: translateX(-110%);
    opacity: 0;
}

.slingshot .view.active {
    transform: translateX(0%);
    opacity: 1;
}

.slingshot .view.next {
    transform: translateX(110%);
    opacity: 0;
}

#slingshot-categories.active {
    transform: translateX(0%);
}



@media (max-width: 1345px) {
    .slingshot {
        width: 551px;
    }

    .slingshot .entry {
        width: 452px;
    }

    .slingshot .search-entry {
        width: 525px;
    }

    #slingshot-grid .last-row {
        display: none;
    }

}

@media (max-width: 1218px) {
    .slingshot {
        width: 424px;
        height: 369px;
    }

    .slingshot .entry {
        width: 325px;
    }

    .slingshot .search-entry {
        width: 397px;
    }

    #slingshot-categories .last-row,
    #slingshot-grid .middle-row {
        display: none;
    }

    .slingshot-arrow {
          top: -346px;
    }

    .slingshot-categories-sidebar {
        height: 313px;
    }

    #slingshot-categories {
        margin-top: -312px;
    }
}

@media (max-width: 581px) {
    #slingshot {
        display: none;
    }
}
