#the-press {
    font-size: 24px;
    opacity: 0.65;
}

#carousel {
    background-color: #eee;
    min-height: 100vh;
    overflow: hidden;
}

#carousel > .row + .row {
    padding-top: 0;
}

#carousel-choices {
    margin-bottom: 0;
}

#carousel-choices .button {
    padding: 8px 16px;
    border-color: #555;
}

#carousel-choices .button.flat.active {
    background-color: #555;
    color: #fff;
}

#carousel-choices .label {
    display: none;
}

#carousel .slide.row {
    max-width: initial;
}

#carousel .slide > .column {
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

#carousel .slide > .column:first-child {
    margin: 0;
}

@media (max-width: 404px) {
    #carousel .slide > .column:nth-child(2) {
      margin-top: -48px;
    }
}

@media (min-width: 434px) {
    #carousel-choices .label {
        display: initial;
    }

    #carousel-choices .fa {
        display: none;
    }
}

@media (min-width: 1350px) {
    #carousel {
        background-color: #0d6c7f;
        background-image: url("../images/screenshots/background.jpg");
        background-size: cover;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    #carousel .slide > .column:nth-child(2) {
        margin-top: 33px;
    }

    #carousel-choices .button.flat {
        color: #fff;
        border-color: #fff;
    }

    #carousel-choices .button.flat.active {
        background-color: #fff;
        color: #333;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.30);
    }
}

#carousel .column.alert img {
    height: 64px;
    width: 64px;
}

#carousel .slide > .column .column:nth-child(2) {
    max-width: 256px;
}
