#carousel {
    min-height: 718px;
    height: 100vh;
    background-color: #0d6c7f;
    background-image: url("../images/screenshots/background.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#carousel-choices .button {
    padding: 8px 16px;
}


#carousel .slide.row {
    max-width: initial;
}

#carousel .slide > .column {
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

#carousel .slide > .column:first-child {
    margin: 0;
}

#carousel .slide > .column:nth-child(2) {
    margin-top: 33px;
}

@media (max-width: 1360px) {
    #carousel {
        display: none;
    }
}

#carousel .column.alert img {
    height: 64px;
    width: 64px;
}

#carousel .slide > .column .column:nth-child(2) {
    max-width: 256px;
}

