#carousel {
    min-height: 100vh;
    background-color: #0d6c7f;
    background-image: url("../images/screenshots/background.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#carousel-choices .button {
    padding: 8px 16px;
}

#carousel .slide > .column {
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

#carousel .slide > .column:first-child {
    margin: 0;
}

#carousel .slide > .column:nth-child(2) {
    margin-top: 56px;
}

@media (max-width: 444px) {
    #carousel .slide > .column:nth-child(2) {
        background-color: rgba(0,0,0,0.8);
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 16px;
    }

    #carousel .column.alert {
        width: 100%;
    }

    #carousel .column.alert h3,
    #carousel .column.alert p {
        text-align: center;
    }
}

#carousel .column.alert img {
    height: 64px;
    width: 64px;
}

@media (min-width: 444px) {
    #carousel .slide > .column .column:nth-child(2) {
        max-width: 256px;
    }
}
