#the-press {
    font-size: 24px;
    opacity: 0.65;
}

#carousel {
    min-height: 100vh;
    background-color: #0d6c7f;
    background-image: url("../images/screenshots/background.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#carousel > .row + .row {
    padding-top: 0;
}

#carousel-choices {
    margin-bottom: 0;
}

#carousel-choices .button {
    padding: 8px 16px;
}

#carousel .slide.row {
    max-width: initial;
}

#carousel .slide > .column {
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

#carousel .slide > .column:first-child {
    margin: 0;
}

#carousel .slide > .column:nth-child(2) {
    margin-top: 33px;
}

@media (max-width: 1350px) {
    #carousel {
        display: none;
    }
}

#carousel .column.alert img {
    height: 64px;
    width: 64px;
}

#carousel .slide > .column .column:nth-child(2) {
    max-width: 256px;
}    

#slingshot {
    width: 100%;
    max-width: 1800px;
}

.slingshot {
    height: 512px;
    width: 678px;
    background-color: #f5f5f5;
    background-clip: padding-box;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                0 3px 6px rgba(0,0,0,0.23);
    padding: 12px;
    display: inline-block;
    margin-right: 24px;
    pointer-events: none;

    transition: all 200ms ease-out;
}

#slingshot-arrow {
    position: relative;
    left: 12px;
    top: 5px;
    width: 30px;
    height: 20px;
}

#slingshot .column:nth-child(2) .symbolic-icon {
    display: inline-block;
    float: left;
    margin: 4px 6px 4px -24px;
}

.entry .symbolic {
    opacity: 0.4;
    fill: #333;
}

.symbolic {
    fill: #333;
}

.slingshot .linked {
    margin: 0;
    display: inline-block;
}

.slingshot .button,
.slingshot .entry {
    height: 25px;
    padding: 3px 6px;
}

.slingshot .button {
    width: 30px;
    fill: #333;
    background-image: none;
}

.slingshot .entry {
    width: 579px;
    display: inline-block;
    background-image: linear-gradient(to bottom,
                                  #f0f0f0,
                                  #f5f5f5
                                  );

    border: 1px solid rgba(61,155,218,0.80);
    border-radius: 2.5px;

    box-shadow: inset 0 0 0 1px rgba(61,155,218,0.23),
                0 1px 0 0 rgba(255,255,255,0.30);

    text-align: left;

    fill: #a6a6a6;
    color: #333;
    text-shadow: 0 1px rgba(255,255,255,0.4);
    margin-left: 8px;

    transition: all 200ms ease-out;
}

.slingshot img {
    width: 64px;
    height: 64px;
}

#slingshot-grid .app,
#slingshot-categories .app {
    float: left;
    display: inline-block;
    width: 130px;
    height: 116px;
    margin-top: 27px;
    vertical-align: top;
}

#slingshot-categories .app {
    float: left;
}

#slingshot-grid .app p,
#slingshot-categories .app p {
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    font-size: 9pt;
    text-align: center;
    margin-top: 6px;
}

#slingshot-pager {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 9px;
}

#slingshot-pager .button {
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    font-size: 9pt;
    margin: 0;
    height: 23px;
    line-height: 16px;
}

ul.categories-list {
    display: block;
    height: 456px;
    width: 124px;
    float:left;
    margin-left: -12px;
    list-style: none;
    border-right: 1px solid #A7A7A7;
}

.slingshot-categories {
    padding-top: 12px;
    margin-left: 127px;
}

ul.categories-list li {
    font-family: 'Droid Sans', 'Open Sans', Helvetica, sans-serif;
    color: #A7ACAB;
    text-shadow:0 1px rgba(255,255,255,0.4);
    font-size: 9pt;
    line-height: 9pt;
    text-align: left;
    padding: 7px 0 6px 0;
    margin-left: -40px;
    padding-left: 23px;
}

ul.categories-list li.active {
    color: #717171;
    background-image: linear-gradient(to bottom,#DBDBDB,#E3E3E3);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.02),
                inset 0 1px 0 0 rgba(0,0,0,0.05),
                inset 0 2px 0 0 rgba(0,0,0,0.05),
                inset 0 -1px 0 0 rgba(0,0,0,0.05);
}

.vertical-top {
    vertical-align: top;
}

@media (max-width: 1345px) {
    .slingshot {
        width: 551px;
    }

    .slingshot .entry {
        width: 452px;
    }

    #slingshot-grid .last-row {
        display: none;
    }
}

@media (max-width: 1218px) {
    .slingshot {
        width: 424px;
        height: 369px;
    }

    .slingshot .entry {
        width: 325px;
    }

    #slingshot-categories .last-row,
    #slingshot-grid .middle-row {
        display: none;
    }

    .slingshot-arrow {
          top: -346px;
    }

    ul.categories-list {
        height: 313px;
    }
}

@media (max-width: 581px) {
    #slingshot {
        display: none;
    }
}
