/* Copyright 2015 elementary LLC.
*
* This file is part of elementaryos.org
*/

html,
body {
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

/**************
* Text Styles *
**************/

h1 {
    font-size: 24px;
    text-align: center;
    opacity: 0.8;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 11px;
}

p.small-label {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    opacity: 0.8;
}

p.error-label {
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    margin: 0;
    color: #b3b3b3;
}

/*********
* Layout *
**********/

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 12px;
    color: #666;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

footer ul li+li {
    margin-left: 12px;
}

footer ul li a {
    color: inherit;
}

footer ul li i.fa {
    font-size: 16px;
}

footer ul li a:focus {
    outline: none;
}

footer ul li a:focus i.fa {
    color: #08c;
    text-shadow: 0 1px 6px #08c;
}

.grid-margin {
    margin: 24px;
}

/*********
* Button *
*********/

button {
    display: inline-block;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    max-width: 250px;

    font-size: 14px;
    font-family: inherit;

    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  rgba(0, 0, 0, 0.04)
                                  );
                                  
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);

    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    transition: all 100ms ease-in;

    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

button:focus {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 0 6px 0 #08c;
}

button:active {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0,, 0.25);

    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.30);
}

button.suggested-action {
    background-image: linear-gradient(to bottom, #75C6FD, #53ABE5);
    border-color: #4D9CD1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

#download {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#download {
    margin-bottom: 6px;
}

#logotype {
    max-width: 100%;
    display: block;
    width: 454px;
    margin: 0 auto;
}
