/* Copyright 2015 elementary LLC.
*
* This file is part of elementaryos.org
*/

html,
body {
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    font-weight: 400;
}

/**************
* Text Styles *
**************/

a {
    color: #08C;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h1 {
    font-size: 24px;
    opacity: 0.8;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

h3 {
    font-size: 11px;
}

p {
    text-align: left;
}

p.small-label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
}

q {
    font-weight: 400;
    font-family: "Satisfy";
    font-size: 36px;
    margin-bottom: 10px;
}


q:before,
q:after {
    content: none;
}

@media (max-width: 414px) {
    q {
        font-size: 24px;
    }
}

kbd {
    color: #4D4D4D;
    background-color: #E9E9E9;
    background-image: linear-gradient(to bottom, #E9E9E9, #FFF);
    border: 1px solid #A5A5A5;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #FFF,
                inset 0 -2px 0 0 #D9D9D9;
    font-family: monospace;
    padding: 2px 4px;
    -moz-user-select: none;
    margin: 3px;
}

img {
    max-width: 100%;
}

img.h1 {
    height: 27px;
    margin: 19px auto;
    opacity: 0.8;
    display: block;
}

img.hero {
    width: 55%;
    min-width: 288px;
    display: block;
    margin: 0 auto;
}

.inline-tweet {
    color: inherit;
}

.inline-tweet:focus,
.inline-tweet:hover {
    color: #08C;
    text-decoration: none;
}

.inline-tweet:after,
.inline-tweet:after {
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    padding-left: 6px;
    position: absolute;
    margin-top: 0.20em;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    opacity: 0;
}

.inline-tweet:focus:after,
.inline-tweet:hover:after {
    opacity: 1;
}

.read-more:after {
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    padding-left: 6px;
    position: absolute;
    margin-top: 0.20em;
    -webkit-transition: padding 0.15s ease-in-out;
    -o-transition: padding 0.15s ease-in-out;
    transition: padding 0.15s ease-in-out;
}

.read-more:hover:after {
    padding-left: 10px;
}

/*********
* NAVBAR *
*********/

nav {
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
}

nav > .left {
    float: left;
    margin-left: 3px;
}

nav > .right {
    float: right;
    margin-right: 3px;
}

nav > ul > li {
    margin: 0 6px;
    position: relative;
    display: inline;
}

nav > ul > li > a,
nav > ul > li > a:visited {
    margin: 0;
    padding: 0;
    color: inherit;
    opacity: 0.8;
}

nav > ul > li > a:focus {
    text-decoration: none;
    color: #08c;
}

nav > ul > li > a:hover,
nav > ul > li > a:visited:hover {
    opacity: 1;
}

nav .logomark {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../images/logomark.svg");
    vertical-align: middle;
}

/*********
* Layout *
**********/

#content-container {
    min-height: 90vh;
}

footer {
    text-align: center;
    font-size: 12px;
    color: inherit;
    opacity: 0.8;
}

footer p {
    text-align: center;
    padding: 0 12px;
}

footer ul {
    list-style: none;
    padding: 0 12px;
}

@media (min-width: 375px) {
    footer p {
        float: left;
    }

    footer ul {
        float:right;
    }
}

footer ul li {
    display: inline-block;
}

footer ul li+li {
    margin-left: 12px;
}

footer ul li a {
    color: inherit;
}

footer ul li i.fa {
    font-size: 16px;
}

footer ul li a:focus {
    outline: none;
}

footer ul li a:focus i.fa {
    color: #08c;
    text-shadow: 0 1px 6px #08c;
}

.column {
    display: inline-block;
}

.column.third {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (min-width: 444px) {
    .column+.column {
        margin-left: 24px;
    }

    .column.half {
        width: 492px;
        margin: 32px 32px 0;
        vertical-align: top;
    }

    .column.third {
        width: 328px;
        margin: 32px 32px 0;
        vertical-align: top;
    }
}

.column.third p {
    text-align: center;
}

.column img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    width: auto;
    margin: 0 auto;
    padding: 24px;
    max-width: 1200px;
    text-align: center;
}

.row ul {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*********
* Alerts *
*********/

.warning {
    color: #fbc02d;
}

.row.alert {
    max-width: 704px;
    border-radius: 6px;
    border: 2px solid #333;
}

.row.alert.warning {
    background-color: #FFF9C4;
    border-color:#FBC02D;
}

.column.alert {
    max-width: 600px;
    vertical-align: top;
}

.row.alert > .column.alert {
    color: rgba(0, 0, 0, 0.8);
}

.column.alert h1 {
    text-align: left;
    margin: 0;
}

.column.alert h2 {
    text-align: left;
}

.column.alert i.fa {
    font-size: 64px;
    margin: 8px 0 0;
}

/*********
* Button *
*********/

button,
.button {
    display: inline-block;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    max-width: 250px;

    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
    color: #333;

    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  rgba(0, 0, 0, 0.04)
                                  );

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);

    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    transition: all 100ms ease-in;

    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

button:focus,
.button:focus {
    border-color: rgba(77, 156, 209, 0.8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 3px 6px rgba(12,128,200,0.16),
                0 3px 6px rgba(12,128,200,0.23);
    text-decoration: none;
}

button:active,
.button:active,
button.active,
.button.active,
.target-amount.checked {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0,, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.30);
}

button.suggested-action,
.button.suggested-action {
    background-color: #64B9F1;
    background-image: linear-gradient(to bottom, #75C6FD, #53ABE5);
    border-color: #4D9CD1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

#download {
    margin: 3px auto 6px;
}

#logotype {
    max-width: 100%;
    width: 454px;
}

.small-button {
    margin: 3px;
    padding: 8px 16px;
    vertical-align: top;
}
.payment-button::before {
    content: "$";
    font-size: smaller;
    margin-left: -3px;
    margin-right: 3px;
    vertical-align: super;
}
.pre-amount {
    color: #333;
    margin-left: 14px;
    margin-right: -21px;
    margin-top: 11px;
    position: absolute;
    pointer-events: none;
}
#amount-custom {
    width: 100%;
    max-width: 170px;
    margin: 3px 0;
    padding: 9px;
}
.focus-reveal {
    opacity: 0 !important;
    transition: 250ms all;
    margin: 0 3px;
    width: 190px;
}
input:focus + .focus-reveal {
    opacity: 0.8 !important;
    transition: 250ms all;
}
@media (min-width: 444px) {
    #amount-custom {
        width: 117px;
        margin: 3px;
    }
    .focus-reveal {
        width: auto;
    }
}

/********
* Input *
********/

input[type="text"]:not(.button),
input[type="text"]:focus,
input[type="number"]:not(.button),
input[type="number"]:focus {
    background-color: #fff;
    background-image: linear-gradient(to bottom,
                                  #fafafa,
                                  #fdfdfd
                                  );

    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 3px;

    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04),
                inset 0 0 0 1px rgba(0, 0, 0, 0.02),
                0 1px 0 1px rgba(255, 255, 255, 0.30);

    color: #323232;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    transition: all 200ms ease-out;
    background-clip: padding-box;

    outline: 0;
}
input[type="text"]:not(.button) {
    padding: 8px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /*
        // Previously crashed Chrome on hover
        display: none;
    */
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: rgba(61, 155, 218, 0.80);
    box-shadow: inset 0 0 0 1px rgba(61, 155, 218, 0.23),
                0 1px 0 1px rgba(255, 255, 255, 0.30);

    transition: all 200ms ease-in;
    outline: none;
}

input:invalid,
input:focus:invalid {
    color: #c0392b !important;
}

.button::-webkit-input-placeholder {
    color: #333;
}
.button:-moz-placeholder {
    color: #333;
}
.button::-moz-placeholder {
    color: #333;
}
.button:-ms-input-placeholder {
    color: #333;
}
input:focus::-webkit-input-placeholder {
    color:transparent;
}
input:focus:-moz-placeholder {
    color:transparent;
}
input:focus::-moz-placeholder {
    color:transparent;
}
input:focus:-ms-input-placeholder {
    color:transparent;
}

/*********
* Linked *
*********/

.linked {
    margin: 24px;
    white-space: nowrap;
    font-size: 0; /* Hide whitespace chars between buttons */
}

.linked button,
.linked .button {
    border-left-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 16px;
}

.linked button:first-child,
.linked button:active:first-child,
.linked button:active:hover:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child {
    border-width: 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.linked button:last-child,
.linked button:active:last-child,
.linked button:active:hover:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child {
    border-left-width: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/*****************
* Legacy Warning *
*****************/

#legacy-warning {
    position: fixed;
    top: 0px;
    padding: 2em;
    width: 100%;

    background-color: #e35d4f;
    color: white;

    box-sizing: border-box;
}

#legacy-warning p {
    text-align: center;
}

#legacy-warning a {
    color: white;
}

#legacy-warning #legacy-warning-buttons {
    text-align: center;
}

#legacy-warning #legacy-warning-buttons a {
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 1em;
    text-decoration: none;
}

#legacy-warning #legacy-warning-buttons a.suggested-action {
    border: 1px solid;
}

/****************
* Modal Dialogs *
****************/

.js-target-jquery-leanmodal-overlay {
    background: #000;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.modal {
    display: none;
    opacity: 0;
    z-index: 11000;
    background-color: #f5f5f5;
    padding: 12px;
    margin: 12px;
    max-height: 100vh;
    overflow: auto;
    border-radius: 3px;
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.20),
                inset -1px 0 0 0 rgba(255, 255, 255, 0.20),
                inset 0 1px 0 0 #fff,
                0 0 0 1px rgba(0, 0, 0, 0.20),
                0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal-position {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.modal p {
    max-width: 388px;
    margin: 0 6px;
}

.modal .row.actions {
    padding: 0;
    margin-top: 24px;
}

.modal .row.actions .linked {
    margin: 6px;
}

/*********
* Slider *
*********/

.slide {
    position: relative;
    left: 0;
}
.slide.sliding {
    transition: left 200ms linear;
}
.slide.slide-in.slide-left {
    left: 100%;
}
.slide.slide-in.slide-right {
    left: -100%;
}
.slide.sliding.slide-in {
    left: 0;
}
.slide.sliding.slide-out.slide-left {
    left: -100%;
}
.slide.sliding.slide-out.slide-right {
    left: 100%;
}

body.sliding {
    overflow-x: hidden; /* Hide scrollbars when animating sliders */
}
