/* Copyright 2015 elementary LLC.
*
* This file is part of elementaryos.org
*/

html,
body {
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
}

/**************
* Text Styles *
**************/

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 11px;
}

/********
* Links *
*********/

a, a:hover, a:active, a:focus, button, button:hover, button:active, button:focus{
    color: inherit;
    text-decoration: none;
    outline: none;                             /* Fix for webkit browsers */
    -webkit-tap-highlight-color: transparent;  /* Fix for Android devices */
}

/*********
* Layout *
**********/

.grid-margin {
    margin: 24px;
}

/*********
* Button *
*********/

a.button, button {
    display: inline-block;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    max-width: 160px;
    font-family: helvetica;
    font-size: 82%;

    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  rgba(0, 0, 0, 0.04)
                                  );

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);

    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    transition: all 100ms ease-in;

    -webkit-appearance: none;
    outline: none;
}

a.button:active, button:active {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0,, 0.25);

    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.30);
}

a.button.suggested-action, button.suggested-action {
    background-image: linear-gradient(to bottom, #75C6FD, #53ABE5);
    border-color: #4D9CD1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.downloads-links {
    text-align: center;
}

.downloads-links .button-download {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

#logotype {
    max-width: 100%;
    display: block;
    width: 454px;
    margin: 0 auto;
}
