/* Copyright 2015 elementary LLC.
*
* This file is part of elementaryos.org
*/

html,
body {
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

/**************
* Text Styles *
**************/

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 11px;
}

/*********
* Layout *
**********/

footer {
    position: absolute;
    bottom: 0;
    margin: 6px;
    font-size: 12px;
    color: #666;
}

footer ul {
    list-style: none;
    margin: 0;
    padding-left: 18px;
    float: right;
    right: 0;
}

footer ul li {
    display: inline-block;
}

footer ul li+li {
    margin-left: 12px;
}

footer ul li a {
    color: inherit;
}

footer ul li i.fa {
    font-size: 16px;
}

footer ul li a:focus {
    outline: none;
}

footer ul li a:focus i.fa {
    color: #08c;
    text-shadow: 0 1px 6px #08c;
}

.row {
    width: auto;
    margin: 0 auto;
    padding: 24px;
    max-width: 1200px;
}

/*********
* Button *
*********/

button {
    display: inline-block;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    max-width: 250px;

    font-size: 14px;
    font-family: inherit;

    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  rgba(0, 0, 0, 0.04)
                                  );
                                  
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);

    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    transition: all 100ms ease-in;

    -webkit-appearance: none;
    outline: none;
}

button:focus {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 0 6px 0 #08c;
}

button:active {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0,, 0.25);

    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.30);
}

button.suggested-action {
    background-image: linear-gradient(to bottom, #75C6FD, #53ABE5);
    border-color: #4D9CD1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

#download {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logotype {
    max-width: 100%;
    display: block;
    width: 454px;
    margin: 0 auto;
}

#donate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
