/* Copyright 2015 elementary LLC.
*
* This file is part of elementaryos.org
*/

html,
body {
    font-family: 'Open Sans', 'Droid Sans', Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    fill: #333;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/**************
* Text Styles *
**************/

a {
    color: #08C;
    fill: #08C;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 16px;
}

@media (min-width: 966px) {

    h1 {
        font-size: 48px;
    }

}

h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 28px 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    opacity: 0.8;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 16px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
    margin-top: 0;
}

p {
    text-align: left;
}

p.small-label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
}

q {
    font-weight: 400;
    font-family: 'Satisfy';
    font-size: 36px;
    margin-bottom: 10px;
}


q:before,
q:after {
    content: none;
}

@media (max-width: 414px) {

    q {
        font-size: 24px;
    }

}

hr {
    border: none;
    height: 1px;
    background: #c9c9c9;
}

hr.fade-the-edges {
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#c9c9c9 50%,#ffffff 100%);
    /* FF3.6+ */
    background: -moz-linear-gradient(left,  #ffffff 0%, #c9c9c9 50%, #ffffff 100%);
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#c9c9c9), color-stop(100%,#ffffff));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#c9c9c9 50%,#ffffff 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#c9c9c9 50%,#ffffff 100%);
    /* W3C */
    background: linear-gradient(to right,  #ffffff 0%,#c9c9c9 50%,#ffffff 100%);
}

img {
    max-width: 100%;
}

img.h1 {
    height: 27px;
    margin: 19px auto;
    opacity: 0.8;
    display: block;
}

/******************
* Responsive Hero *
******************/
.page-index .hero {
    padding-top: 0;
    height: 176px;
    background: url(../images/responsive-images/notebook-small.png) 50% /contain no-repeat;
}

@media all and (min-width: 530px) {
    .page-index .hero {
        padding-top: 35%;
        height: auto;
        background-image: url(../images/responsive-images/notebook-medium.png);
    }
}

@media all and (min-width: 1000px) {
    .page-index .hero {
        background-image: url(../images/responsive-images/notebook-large.png);
    }
}

@media all and (min-width: 1300px) {
    .page-index .hero {
        background-image: url(../images/notebook.png);
    }
}

.inline-tweet {
    color: inherit;
}

.inline-tweet:focus,
.inline-tweet:hover {
    color: #08C;
    text-decoration: none;
}

.inline-tweet:after,
.inline-tweet:after {
    content: '';
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    padding-left: 6px;
    position: absolute;
    margin-top: 0.20em;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    opacity: 0;
}

.inline-tweet:focus:after,
.inline-tweet:hover:after {
    opacity: 1;
}

.read-more:after {
    content: '';
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    padding-left: 6px;
    position: absolute;
    margin-top: 0.20em;
    -webkit-transition: padding 0.15s ease-in-out;
    -o-transition: padding 0.15s ease-in-out;
    transition: padding 0.15s ease-in-out;
}

.read-more:hover:after {
    padding-left: 10px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*********
* NAVBAR *
*********/

nav {
    width: 100%;
    min-height: 56px;
    line-height: 56px;
}

nav > .nav-content {
    margin: 0;
    padding: 0;
}

nav > .nav-content > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
}

nav > .nav-content > .left {
    float: left;
    margin-left: 3px;
}

nav > .nav-content > .right {
    float: right;
    margin-right: 3px;
}

nav > .nav-content > ul > li {
    margin: 0 10px;
    position: relative;
    float: left;
}

nav > .nav-content > ul > li > a,
nav > .nav-content > ul > li > a:visited {
    margin: 0;
    padding: 0 6px;
    color: inherit;
    fill: inherit;
    opacity: 0.8;
    display: inline-block;
}

nav > .nav-content > ul > li > a:focus {
    text-decoration: none;
    color: #08c;
    fill: #08c;
}

nav > .nav-content > ul > li > a:hover,
nav > .nav-content > ul > li > a:visited:hover {
    opacity: 1;
}

nav .logomark {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    line-height: 32px;
}

nav > .nav-content > ul > li > .logomark {
    padding: 0;
}

nav .logomark .logomark-svg {
    fill: inherit;
}

nav .logomark:focus .logomark-svg {
    fill: inherit;
}

@media only screen and (max-width : 520px) {

    nav.nav {
        white-space: nowrap;
        overflow: scroll;
    }

    nav > .nav-content {
        width: 550px;
        white-space: nowrap;
        overflow: scroll;
    }

    nav > .nav-content > .right {
        float: left;
    }

}

/*********
* Layout *
**********/

#content-container {
    min-height: 90vh;
}

footer {
    text-align: center;
    font-size: 12px;
    color: inherit;
    padding-top: 24px;
}

footer > p, footer > div > a, footer > ul {
    opacity: 0.8;
}

footer > p {
    text-align: center;
    padding: 0 12px;
}

footer > ul {
    list-style: none;
    padding: 0 12px;
}

footer .popover {
    margin: 12px 0;
}

@media (min-width: 375px) {

    footer > p {
        float: left;
    }

    footer > ul {
        float:right;
    }

    footer > .popover {
        float: left;
    }

}

footer ul li {
    display: inline-block;
}

footer ul li+li,
footer p a {
    margin-left: 12px;
}

footer a {
    color: inherit;
}

footer i.fa {
    font-size: 16px;
}

footer a:focus i.fa {
    color: #08c;
    text-shadow: 0 1px 6px #08c;
}

footer ul li a:focus {
    outline: none;
}

.column {
    display: inline-block;
    max-width: 100%;
}

.column.third {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (min-width: 444px) {

    .column+.column {
        margin-left: 24px;
    }

    .row .column.half {
        width: 492px;
        margin: 32px 32px 0;
        vertical-align: top;
    }

    .column.third {
        width: 316px;
        margin: 32px 32px 0;
        vertical-align: top;
    }

}

.column.half {
    text-align: left;
    vertical-align: middle;
}

.column.third p {
    text-align: center;
}

.column img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    width: auto;
    margin: 0 auto;
    padding: 48px 24px;
    max-width: 1200px;
    text-align: center;
}

.row .row {
    padding: 24px 0;
}

.row ul,
.row ol {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*********
* Alerts *
*********/

.warning {
    color: #fbc02d;
}

.row.alert {
    max-width: 704px;
    padding: 24px;
    border-radius: 6px;
    border: 2px solid #333;
}

.row.alert.warning {
    background-color: #FFF9C4;
    border-color:#FBC02D;
}

.column.alert {
    max-width: 600px;
    vertical-align: top;
}

.row.alert > .column.alert {
    color: rgba(0, 0, 0, 0.8);
}

.column.alert h3 {
    text-align: left;
    margin: 0;
}

.column.alert i.fa {
    font-size: 64px;
    margin: 8px 0 0;
}

.icon {
    position: relative;
    text-align: center;
}

@media (min-width: 444px) {

    .icon {
        position: absolute;
    }

    .icon-text {
        padding-left: 88px;
    }

}

/*********
* Button *
*********/

button,
.button {
    display: inline-block;
    margin: 24px;
    padding: 16px 32px;
    text-align: center;
    max-width: 250px;
    font-size: 16px;
    font-family: inherit;
    text-decoration: none;
    color: #333;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  rgba(0, 0, 0, 0.04)
                                  );
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    transition: all 100ms ease-in;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

button:focus,
.button:focus {
    border-color: rgba(77, 156, 209, 0.8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 3px 6px rgba(12,128,200,0.16),
                0 3px 6px rgba(12,128,200,0.23);
    text-decoration: none;
}

button:active,
.button:active,
button.active,
.button.active,
.target-amount.checked {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0,, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.30);
}

button.suggested-action,
.button.suggested-action {
    background-color: #64B9F1;
    background-image: linear-gradient(to bottom, #75C6FD, #53ABE5);
    border-color: #4D9CD1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.button.flat {
    display: block;
    font-weight: bold;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border-width: 2px;
    padding: 7px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light .button.flat,
.light .button.flat .svg {
    color: #fff;
    fill: #fff;
    border-color: #fff;
    box-shadow: none;
}

.light .button.flat.active,
.light .button.flat.active .svg {
    background-color: #fff;
    color: #333;
    fill: #333;
    box-shadow: none;
}

#download {
    margin: 3px auto 6px;
}

#logotype {
    position: relative;
    height: 66px;
    width: 454px;
    max-width: 80%;
    margin: 16px auto;
}
#logotype svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
}

.small-button {
    margin: 3px;
    padding: 8px 16px;
    vertical-align: top;
}

.payment-button::before {
    content: '$';
    font-size: smaller;
    margin-left: -3px;
    margin-right: 3px;
    vertical-align: super;
}

.pre-amount {
    color: #333;
    margin-left: 14px;
    margin-right: -21px;
    margin-top: 11px;
    position: absolute;
    pointer-events: none;
}

#amount-custom {
    width: 100%;
    max-width: 170px;
    margin: 3px 0;
    padding: 9px;
}

.focus-reveal {
    opacity: 0 !important;
    transition: 250ms all;
    margin: 0 3px;
    width: 190px;
}

input:focus + .focus-reveal {
    opacity: 0.8 !important;
    transition: 250ms all;
}

@media (min-width: 444px) {

    #amount-custom {
        width: 117px;
        margin: 3px;
    }

    .focus-reveal {
        width: auto;
    }

}

/********
* Input *
********/

input[type='text']:not(.button),
input[type='text']:focus,
input[type='number']:not(.button),
input[type='number']:focus {
    background-color: #fff;
    background-image: linear-gradient(to bottom,
                                  #fafafa,
                                  #fdfdfd
                                  );
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04),
                inset 0 0 0 1px rgba(0, 0, 0, 0.02),
                0 1px 0 1px rgba(255, 255, 255, 0.30);
    color: #323232;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    transition: all 200ms ease-out;
    background-clip: padding-box;
    outline: 0;
}

input[type='text']:not(.button) {
    padding: 8px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /*
        // Previously crashed Chrome on hover
        display: none;
    */
    -webkit-appearance: none;
    margin: 0;
}

input[type='text']:focus,
input[type='number']:focus {
    border-color: rgba(61, 155, 218, 0.80);
    box-shadow: inset 0 0 0 1px rgba(61, 155, 218, 0.23),
                0 1px 0 1px rgba(255, 255, 255, 0.30);
    transition: all 200ms ease-in;
    outline: none;
}

input:invalid,
input:focus:invalid {
    color: #c0392b !important;
}

.button::-webkit-input-placeholder {
    color: #333;
}

.button:-moz-placeholder {
    color: #333;
}

.button::-moz-placeholder {
    color: #333;
}

.button:-ms-input-placeholder {
    color: #333;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

input:focus:-moz-placeholder {
    color:transparent;
}

input:focus::-moz-placeholder {
    color:transparent;
}

input:focus:-ms-input-placeholder {
    color:transparent;
}

/*********
* Linked *
*********/

.linked {
    margin: 24px;
    white-space: nowrap;
    font-size: 0; /* Hide whitespace chars between buttons */
}

.linked button,
.linked .button {
    display: inline-block;
    border-left-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 16px;
}

.linked button:first-child,
.linked button:active:first-child,
.linked button:active:hover:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child {
    border-width: 1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.linked button.flat:first-child,
.linked button.flat:active:first-child,
.linked button.flat:active:hover:first-child,
.linked .button.flat:first-child,
.linked .button.flat:active:first-child,
.linked .button.flat:active:hover:first-child {
    border-width: 2px;
}

.linked button:last-child,
.linked button:active:last-child,
.linked button:active:hover:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child {
    border-left-width: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/*****************
* Legacy Warning *
*****************/

#legacy-warning {
    position: fixed;
    top: 0px;
    padding: 2em;
    width: 100%;
    background-color: #e35d4f;
    color: white;
    box-sizing: border-box;
}

#legacy-warning p {
    text-align: center;
}

#legacy-warning a {
    color: white;
}

#legacy-warning #legacy-warning-buttons {
    text-align: center;
}

#legacy-warning #legacy-warning-buttons a {
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 1em;
    text-decoration: none;
}

#legacy-warning #legacy-warning-buttons a.suggested-action {
    border: 1px solid;
}

/****************
* Modal Dialogs *
****************/

.js-target-jquery-leanmodal-overlay {
    background: #000;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.modal {
    display: none;
    opacity: 0;
    z-index: 11000;
    background-color: #f5f5f5;
    padding: 12px;
    margin: 12px;
    max-height: 100vh;
    overflow: auto;
    border-radius: 3px;
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.20),
                inset -1px 0 0 0 rgba(255, 255, 255, 0.20),
                inset 0 1px 0 0 #fff,
                0 0 0 1px rgba(0, 0, 0, 0.20),
                0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal,
.modal p {
    text-align: center;
}

.modal-position {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.modal p {
    max-width: 388px;
    margin: 0 6px;
}

.modal .row.actions {
    padding: 0;
    margin-top: 24px;
}

.modal .row.actions .linked {
    margin: 6px;
}

i.fa.fa-close.close-modal {
    float: left;
    cursor: pointer;
}

/*********
* Slider *
*********/

.slide {
    float: left;
    transition: all 200ms ease-in-out;
    position: absolute;
}

.slide.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    filter: alpha(opacity=100);
}

.slide.next {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    filter: alpha(opacity=0);
}

.slide.previous {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    filter: alpha(opacity=0);
}

.slide.hide-headings h2,
.slide.hide-headings h3 {
    display: none;
}

.float-left {
    float: left;
    margin: 0 .5em .5em 0;
}

.clear,
.clear-both {
    clear: both;
}

/**********
* Popover *
**********/

.popover {
    position: relative;
}

.popover .popover-content {
    position: absolute;
    left: -70px;
    bottom: 30px;
    width: 200px;
    z-index: 2;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    background: white;
    color: #333;
    background-clip: content-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 250ms, opacity 250ms;
}

.popover .popover-content:before,
.popover .popover-content:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border: 10px outset transparent;
}

.popover .popover-content:before {
    bottom: -20px;
    border-top: 10px solid rgba(0,0,0,0.2);
}

.popover .popover-content:after {
    bottom: -18px;
    border-top: 10px solid white;
}

.popover.active .popover-content {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms;
}

.popover .popover-content strong {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
}

.popover .popover-content ul {
    margin: 5px 0;
    padding: 0;
    max-height: 500px;
    overflow: auto;
}

@media (max-height: 700px) {

    .popover .popover-content ul {
        max-height: 300px;
    }

}

@media (max-height: 450px) {

    .popover .popover-content ul {
        max-height: 200px;
    }

}

.popover .popover-content ul li {
    display: block;
    margin: 0;
}

.popover .popover-content ul li a {
    display: block;
    padding: 5px 15px;
}

.popover .popover-content ul li a:hover {
    background-color: #e0e0e0;
}

.popover .popover-content hr {
    background: #e0e0e0;
    height: 1px;
    border: 0;
}

/*****************
* Browsers icons *
*****************/
.browsers-list {
    width: 50px;
}

/*****************
* Browsers icons *
*****************/
.docs img {
    display: block;
    margin: 0 auto;
}
