/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

html,
body {
    background-color: #fff;
    box-sizing: border-box;
    color: #333;
    fill: #333;
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**************
* Text Styles *
**************/

a {
    color: #08c;
    fill: #08c;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h1 {
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 16px;
    margin-top: 0;
}

h1 svg {
    display: inline;
    height: 45px;
    max-width: 100%;
    position: relative;
    top: 11px;
    width: 310px;
}

h1 .logotype-svg {
    fill: inherit;
}

@media (min-width: 966px) {

    h1 {
        font-size: 48px;
    }

}

h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 16px 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    opacity: 0.8;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
    margin-top: 16px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 0;
    text-align: left;
}

p {
    text-align: left;
    line-height: 1.65;
}

p.small-label {
    font-size: 12px;
    margin: 0;
    opacity: 0.8;
    padding: 0;
    text-align: center;
}

q {
    font-family: 'Marck Script', cursive;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}

q:before,
q:after {
    content: none;
}

@media (max-width: 414px) {

    q {
        font-size: 24px;
    }

}

hr {
    background: #c9c9c9;
    border: none;
    height: 1px;
}

img {
    max-width: 100%;
}

img.h1 {
    display: block;
    height: 27px;
    margin: 19px auto;
    opacity: 0.8;
}

img.inline {
    display: inline-block !important;
    vertical-align: middle;
}

.inline-tweet {
    color: inherit;
}

.inline-tweet:focus,
.inline-tweet:hover {
    color: #08c;
    text-decoration: none;
}

.inline-tweet:after,
.inline-tweet:after {
    color: inherit;
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    margin-top: 0.2em;
    opacity: 0;
    padding-left: 6px;
    position: absolute;
    transition: all 0.15s ease-in-out;
}

.inline-tweet:focus:after,
.inline-tweet:hover:after {
    opacity: 1;
}

.read-more:after {
    color: inherit;
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    margin-top: 0.05em;
    padding-left: 6px;
    position: absolute;
    transition: padding 0.15s ease-in-out;
}

.read-more:hover:after {
    padding-left: 10px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*********
* NAVBAR *
*********/

nav {
    line-height: 56px;
    min-height: 56px;
    min-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

nav > .nav-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

nav > .nav-content > ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > .nav-content > ul:first-child {
    -webkit-flex: 0 0 auto;
}

html.ie-legacy nav > .nav-content {
    min-width: 550px;
}

html.ie-legacy nav > .nav-content > ul.right {
    float: right;
}

nav > .nav-content > ul > li {
    display: inline-block;
    margin: 0 10px;
}

nav > .nav-content > ul > li > a,
nav > .nav-content > ul > li > a:visited {
    color: inherit;
    display: inline-block;
    fill: inherit;
    margin: 0;
    opacity: 0.8;
    padding: 0 6px;
}

nav > .nav-content > ul > li > a:focus {
    color: #08c;
    fill: #08c;
    text-decoration: none;
}

nav > .nav-content > ul > li > a:hover,
nav > .nav-content > ul > li > a:visited:hover {
    opacity: 1;
}

nav .logomark {
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 32px;
}

nav > .nav-content > ul > li > .logomark {
    padding: 0;
}

nav .logomark .logomark-svg,
nav .logomark:focus .logomark-svg {
    fill: inherit;
}

@media only screen and (max-width: 520px) { /* this media query is for ie-legacy support */

    html.ie-legacy nav {
        overflow-x: scroll;
        white-space: nowrap;
    }

    html.ie-legacy nav > .nav-content {
        overflow: visible;
        white-space: nowrap;
        width: 550px;
    }

    html.ie-legacy nav > .nav-content > .right {
        float: left;
    }

}

/*********
* Layout *
**********/

#content-container {
    min-height: 90vh;
}

footer {
    color: inherit;
    font-size: 12px;
    padding-top: 24px;
    text-align: center;
}

footer > p,
footer > div > a,
footer > ul {
    opacity: 0.8;
}

footer > p {
    padding: 0 12px;
    text-align: center;
}

footer > ul {
    list-style: none;
    padding: 0 12px;
}

footer .popover {
    margin: 12px 0;
}

@media (min-width: 375px) {

    footer > p,
    footer > .popover {
        float: left;
    }

    footer > ul {
        float: right;
    }

}

footer ul li {
    display: inline-block;
}

footer ul li + li,
footer p a {
    margin-left: 12px;
}

footer a {
    color: inherit;
}

footer i.fa {
    font-size: 16px;
}

footer a:focus i.fa {
    color: #08c;
    text-shadow: 0 1px 6px #08c;
}

footer ul li a:focus {
    outline: none;
}

.column {
    display: inline-block;
    max-width: 100%;
        vertical-align: top;
}

.column.third {
    margin-bottom: 16px;
    margin-top: 16px;
}

@media (min-width: 444px) {

    .row .column.half {
        margin: 32px 32px 0;
        width: calc(50% - 88px);
    }

    .column.third {
        margin: 32px 32px 0;
        width: calc(33% - 88px);
    }

    .column + .column {
        margin-left: 16px !important;
    }

}

.column.half {
    text-align: left;
    vertical-align: middle;
}

.column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin: 0 auto;
    max-width: 1200px;
    padding: 48px 24px;
    text-align: center;
    width: auto;
}

.row .row {
    padding: 24px 0;
}

.row ul,
.row ol {
    text-align: left;
}

.row.docs,
.row.docs .slide {
    max-width: 800px;
}

.row.docs h2,
.row.docs h3,
.row.docs h4 {
    margin-bottom: 16px;
    margin-top: 32px;
    text-align: left;
}

.row.docs h4 {
    font-weight: 400;
}

/*******
* Grid *
*******/

.grid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 32px 0;
    text-align: center;
    width: auto;
}

.grid > * {
    margin: 16px;
}

.grid .grid {
    padding: 0;
}

@media only screen and (min-width: 640px) {

    .grid .half {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 48px);
    }

    .grid .half h2 {
        text-align: left;
    }

    .grid .third {
        width: calc(33.33% - 32px);
        display: inline-block;
        vertical-align: top;
        margin-right: 16px;
    }

    .grid .third:last-child {
        margin-left: 16px;
        margin-right: 0;
    }

    .grid .two-thirds {
        display: inline-block;
        vertical-align: top;
        width: calc(66% - 48px);
    }

    .grid *:only-child p {
        text-align: center;
    }

}

.third h3,
.third p {
    text-align: center;
}

.third a {
    color: inherit;
}

.third a:hover {
    color: #08C;
    fill: #08C;
}

.third .fa {
    font-size: 32px;
    text-align: center;
    display: block;
}

/*********
* Alerts *
*********/

.warning {
    color: #fbc02d;
}

.row.alert {
    border: 2px solid #333;
    border-radius: 6px;
    max-width: 704px;
    padding: 24px;
}

.row.alert.warning {
    background-color: #fff9c4;
    border-color: #fbc02d;
}

.column.alert {
    max-width: calc(100% - 70px);
}

.row.alert > .column.alert {
    color: rgba(0, 0, 0, 0.8);
}

.column.alert h3 {
    margin: 0;
    text-align: left;
}

.row .column.alert i.fa {
    font-size: 64px;
    margin: 8px 0 0;
}

.icon {
    position: relative;
    text-align: center;
}

@media (min-width: 444px) {

    .icon {
        position: absolute;
    }

    .icon-text {
        padding-left: 88px;
    }

}

/*********
* Button *
*********/

button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    margin: 24px;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    transition: all 100ms ease-in;
}

button:focus,
.button:focus {
    border-color: rgba(77, 156, 209, 0.8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 3px 6px rgba(12, 128, 200, 0.16),
                0 3px 6px rgba(12, 128, 200, 0.23);
    text-decoration: none;
}

button:active,
.button:active,
button.active,
.button.active,
.target-amount.checked {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 0 rgba(255, 255, 255, 0.3);
}

button.suggested-action,
.button.suggested-action {
    background-color: #64b9f1;
    background-image: linear-gradient(to bottom, #75c6fd, #53abe5);
    border-color: #4d9cd1;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.button.flat {
    background: none;
    border-width: 2px;
    box-shadow: none;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 10px;
    min-width: 250px;
    padding: 7px;
    text-shadow: none;
}

.light .button.flat,
.light .button.flat .svg {
    border-color: #fff;
    box-shadow: none;
    color: #fff;
    fill: #fff;
}

.light .button.flat.active,
.light .button.flat.active .svg {
    background-color: #fff;
    box-shadow: none;
    color: #333;
    fill: #333;
}

#logotype {
    height: 66px;
    margin: 16px auto;
    max-width: 80%;
    position: relative;
    width: 454px;
}

#logotype svg {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.small-button {
    margin: 3px;
    padding: 8px 16px;
    vertical-align: top;
}

/********
* Input *
********/

input[type="text"]:not(.button),
input[type="text"]:focus,
input[type="number"]:not(.button),
input[type="number"]:focus {
    background-clip: padding-box;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fafafa, #fdfdfd);
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04),
                inset 0 0 0 1px rgba(0, 0, 0, 0.02),
                0 1px 0 1px rgba(255, 255, 255, 0.3);
    color: #323232;
    outline: 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    transition: all 200ms ease-out;
}

input[type="text"]:not(.button) {
    padding: 8px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: rgba(61, 155, 218, 0.8);
    box-shadow: inset 0 0 0 1px rgba(61, 155, 218, 0.23),
                0 1px 0 1px rgba(255, 255, 255, 0.3);
    outline: none;
    transition: all 200ms ease-in;
}

input:invalid,
input:focus:invalid {
    color: #c0392b !important;
}

.button::-webkit-input-placeholder {
    color: #333;
}

.button:-moz-placeholder {
    color: #333;
}

.button::-moz-placeholder {
    color: #333;
}

.button:-ms-input-placeholder {
    color: #333;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

/*********
* Linked *
*********/

.linked {
    font-size: 0;
    margin: 24px 0;
    white-space: nowrap;
}

.linked button,
.linked .button {
    border-left-width: 0;
    border-radius: 0;
    display: inline-block;
    margin: 0;
    padding: 16px;
}

.linked button:first-child,
.linked button:active:first-child,
.linked button:active:hover:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-width: 1px;
}

.linked button.flat:first-child,
.linked button.flat:active:first-child,
.linked button.flat:active:hover:first-child,
.linked .button.flat:first-child,
.linked .button.flat:active:first-child,
.linked .button.flat:active:hover:first-child {
    border-width: 2px;
}

.linked button:last-child,
.linked button:active:last-child,
.linked button:active:hover:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
}

/*****************
* Legacy Warning *
*****************/

#legacy-warning {
    background-color: #e35d4f;
    box-sizing: border-box;
    color: white;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 100%;
}

#legacy-warning p {
    text-align: center;
}

#legacy-warning a {
    color: white;
}

#legacy-warning #legacy-warning-buttons {
    text-align: center;
}

#legacy-warning #legacy-warning-buttons a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
}

#legacy-warning #legacy-warning-buttons a.suggested-action {
    border: 1px solid;
}

/****************
* Modal Dialogs *
****************/

.modal {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.2),
                inset -1px 0 0 0 rgba(255, 255, 255, 0.2),
                inset 0 1px 0 0 #fff,
                0 0 0 1px rgba(0, 0, 0, 0.2),
                0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
    max-height: 100vh;
    max-width: 100vw;
    padding: 12px;
    z-index: 11000;
    display: none;
}

.modal {
    text-align: center;
}

.modal p {
    text-align: center;
    margin: 0 6px;
    max-width: 388px;
}

.modal .row.actions {
    margin-top: 24px;
    padding: 0;
}

.modal .row.actions .column {
    margin: 6px !important;
}

i.fa.fa-close.close-modal {
    cursor: pointer;
    float: left;
}

/*********
* Slider *
*********/

.slide-container {
    overflow: hidden;
    position: relative;
    transition: height 200ms ease-in-out;
    width: 100%;
}

.slide {
    transition: transform 200ms ease-in-out, opacity 100ms linear;
}

.slide.active,
.slide.next,
.slide.previous {
    float: left;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.slide.active {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

.slide.next {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
}

.slide.previous {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
}

.float-left {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.clear,
.clear-both {
    clear: both;
}

/**********
* Popover *
**********/

.popover {
    position: relative;
}

.popover .popover-content {
    background: white;
    background-clip: content-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
    left: -70px;
    opacity: 0;
    position: absolute;
    text-align: left;
    transition: visibility 0s 250ms, opacity 250ms;
    visibility: hidden;
    width: 200px;
    z-index: 2;
}

.popover .popover-content:before,
.popover .popover-content:after {
    border: 10px outset transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
}

.popover .popover-content:before {
    border-top: 10px solid rgba(0, 0, 0, 0.2);
    bottom: -20px;
}

.popover .popover-content:after {
    border-top: 10px solid white;
    bottom: -18px;
}

.popover.active .popover-content {
    opacity: 1;
    transition: opacity 250ms;
    visibility: visible;
}

.popover .popover-content strong {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
}

.popover .popover-content ul {
    margin: 5px 0;
    max-height: 500px;
    overflow: auto;
    padding: 0;
}

@media (max-height: 700px) {

    .popover .popover-content ul {
        max-height: 300px;
    }

}

@media (max-height: 450px) {

    .popover .popover-content ul {
        max-height: 200px;
    }

}

.popover .popover-content ul li {
    display: block;
    margin: 0;
}

.popover .popover-content ul li a {
    display: block;
    padding: 5px 15px;
}

.popover .popover-content ul li a:hover {
    background-color: #e0e0e0;
}

.popover .popover-content hr {
    background: #e0e0e0;
    border: 0;
    height: 1px;
}

/*****************
* Browsers icons *
*****************/

.browsers-list {
    width: 50px;
}

/*****************
* Browsers icons *
*****************/

.docs img {
    display: block;
    margin: 0 auto;
}
