/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementary.io *
***************************************/

/*********
* Nested *
**********/

.nested {
    margin: 0 auto;
    border-radius: 6px;
    padding: 8px;
    padding-top: 32px;
    margin-top: 32px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
}


.top-level {
    background-color: #fff;
    box-shadow: none;
}

.foundation {
    background-color: #fefefe;
}

.libraries {
    background-color: #f7f7f7;
}

.display {
    background-color: #efefef;
}

.low-level {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}


/*******
* Other *
*******/

@media only screen and (min-width: 640px) {
    .grid .grid .half {
        text-align: center;
    }
}

.oss-logo {
    margin:12px;
}