/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementary.io *
***************************************/

/*******************
* Open Source Page *
********************/

.sub-item,
.platform-item {
    vertical-align: top;
    display: inline-block;
    margin: 0 auto;
    border-radius: 6px;
    padding: 12px;
    margin-top: 12px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: #f7f7f7;
}

hr.dotted {
    background: transparent;
    margin:16px 24px;
    margin-bottom: 4px;
    border-top: 1px dashed #c9c9c9;
    height: 1px;
    width: calc(100% - 44px);
}



.sub-item {
    display: inline-block;
    margin:4px;
    padding: 8px 12px;
    vertical-align: middle;
    font-weight: 600;
    background-color: #fff;
}

.oss-logo {
    display: inline-block;
    margin:12px;
}

.oss-title,
.oss-subtitle {
    margin:12px;
}

.oss-subtitle {
    text-align: center;
    opacity: 0.8;
}

.platform-item.full {
    width: calc(100% - 36px);
}

.platform-item.half {
    margin-left: 4px;
    margin-right: 4px;
    width: calc(50% - 24px);
}

.platform-item.third {
    margin-left: 4px;
    margin-right: 4px;
    width: calc(33.33% - 20px);
}

.platform-item.two-thirds {
    margin-left: 4px;
    margin-right: 4px;
    width: calc(66.66% - 28px);
}

@media only screen and (max-width: 640px) {
    .platform-item {
        height: 100%;
    }

    .oss-title {
        font-size: 18px;
        word-wrap: break-word;
    }

    .oss-subtitle {
        display: none;
    }

    .platform-item > img {
        display: inline-block;
        margin:8px auto;
    }

    .sub-item {
        margin: 4px auto;
        border-radius: 3px;
        font-size: 80%;
        display: block;
        width: 100%;
    }

    .platform-item.full,
    .platform-item.half,
    .platform-item.two-thirds,
    .platform-item.third {
        margin: 8px;
        width: calc(100% - 16px);
    }
}
