/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

.alert--error {
    color: #da4d45;
    font-size: 88%;
}

/***************************
* Category view of product *
***************************/

.grid--product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.grid--product .grid__title {
    flex: 0 0 100%;
    text-transform: capitalize;
}

.grid--product .grid__item {
    margin: 20px;
    max-width: 260px;
}

/*****************
* Product modals *
*****************/

.modal--product {
    max-height: 90vh;
    overflow: auto;
}

.modal--product h2,
.modal--product h4 {
    text-align: left;
}

.modal--product p {
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.modal--product input[type="number"],
.modal--product select {
    width: 100%;
    padding: 6px;
}

.modal--product select {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    color: #323232;
    outline: 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    transition: all 200ms ease-out;
}

.modal--product .button {
    width: 100%;
    margin: 0;
    margin-top: 24px;
}

.modal--product .grid {
    padding: 0;
    padding-bottom: 12px;
}

.modal--product .label {
    margin-top: 24px;
}

/***********************
* List view of product *
***********************/

.list--product {
    display: block;
    margin: 32px auto;
    max-width: 644px;
    text-align: center;
}

.list--product .list__item {
    margin: 60px 0;
    position: relative;
    width: 100%;
}

.list--product .list__item a {
    color: inherit;
}

.list--product .list__item img {
    height: 180px;
    width: 180px;
}

.list--product .list__detail > div > * {
    display: inline-block;
}

@media (min-width: 620px) {
    .list--product .list__item {
        flex-direction: row;
        text-align: left;
    }

    .list--product .list__info {
        left: 200px;
        max-width: 100%;
        position: absolute;
        top: 0;
    }

    .list--product .list__detail {
        bottom: 26px;
        max-width: 100%;
        position: absolute;
        right: 0;
        text-align: right;
    }

    .list--product .list__footer {
        text-align: right;
    }
}

/****************
* Shipping Grid *
****************/

.grid--address {
    margin: 0 auto;
    max-width: 672px;
}

.grid--address > *:not(:last-of-type) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.grid--address > *:not(:last-of-type) > * {
    flex: 1 1 auto;
    margin: 6px;
    min-width: 100px;
    padding: 8px;
}

.grid--address input[autocomplete="address-level1"] {
    flex: 1 1 2ch;
}

.grid--address input[autocomplete="postal-code"] {
    flex: 1 1 5ch;
}
