html,
body {
    background-color: #fdf6e3;
    color: #586e75;
    fill: #586e75;
}

h1 svg {
    position: relative;
    top: 11px;
    height: 45px;
}

h1 .logotype-svg {
    fill: inherit;
}

a.column {
    color: inherit;
    transition: 250ms;
}

a.column:hover {
    color: #08C;
    fill: #08C;
}


/***************************
* Larger-than-phone styles *
***************************/

@media (min-width: 1164px) {
    a.column h2 {
        text-align: left;
    }
}
