html,
body {
    /**background-color: #fdf6e3;
    color: #586e75;
    fill: #586e75;*/
}

h1 svg {
    display: inline;
    position: relative;
    top: 11px;
    height: 45px;
    width: 310px;
}

h1 .logotype-svg {
    fill: inherit;
}

a.column {
    color: inherit;
    transition: 250ms;
}

a.column:hover,
a.column:focus,
a.column:active {
    color: #08C;
    fill: #08C;
    text-decoration: none;
}

a.column h2,
a.column h3 {
    margin-bottom: 0.5em;
}

a[target='_blank'].column h2::after,
a[target='_blank'].column h3::after {
    content: "ï„…";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    color: inherit;
    padding-left: 12px;
    position: absolute;
    margin-top: 0.20em;
    -webkit-transition: padding 0.15s ease-in-out;
    -o-transition: padding 0.15s ease-in-out;
    transition: padding 0.15s ease-in-out;
}

a[target='_blank'].column:hover h2::after,
a[target='_blank'].column:hover h3::after,
a[target='_blank'].column:focus h2::after,
a[target='_blank'].column:focus h3::after {
    padding-left: 18px;
}


/***********
* App grid *
***********/

.row.apps{
    text-align: left;
}

.row.apps h2{
    text-align: center;
}

.row.apps .app {
    text-align: left;
    display: inline-block;
    margin: 12px 0;
    padding: 12px;
    width: 100%;

    border: 1px solid transparent;
    border-radius: 4px;

    color: inherit;

    transition: 250ms;
}

.row.apps .app:hover,
.row.apps .app:focus,
.row.apps .app:active {
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

@media (min-width: 600px) {
    .row.apps .app {
        margin: 1%;
        padding: 1%;
        width: 47%;
    }
}

@media (min-width: 1000px) {
    .row.apps .app {
        margin: 1%;
        padding: 1%;
        width: 31%;
    }
}

.row.apps .app img,
.row.apps .app span {
    display: inline-block;
}

.row.apps .app img {
    vertical-align: middle;
}

.row.apps .app span {
    line-height: 64px;
    padding: 0 12px;
}


/***************************
* Larger-than-phone styles *
***************************/

@media (min-width: 1164px) {
    a.column h2,
    a.column h3 {
        text-align: left;
    }
}
