/*************************************
* Copyright 2016 elementary LLC.     *
* This file is part of elementary.io *
*************************************/

.member {
    float: left;
    height: 150px;
    width: 33%;
    margin: 8px auto;
}

.team-directory {
    display: inline-block;
    width: 100%;
    margin: 4px auto;
    padding: 24px 0;
}

/**************
* Slack Users *
***************/

.member_photo {
    width: 96px;
    height: 96px;
    background-size: 96px 96px;
    background-position: top left;
    background-repeat: no-repeat;
    margin-right: 20px;
    float: left;
    display: inline-block;
    border-radius: 50%;
    border: none;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.35),
        inset 0 0 0 2px rgba(255, 255, 255, 0.1),
        inset 0 2px 0 0 rgba(255, 255, 255, 0.45),
        inset 0 -2px 0 0 rgba(255, 255, 255, 0.15),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.24);
    transition: all 100ms ease-in;
}

h5.member_name {
    margin-top: 4px;
    text-align: left;
}

.member_status {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.member_title {
    font-size: 90%;
    margin: 4px 0;
    padding-right: 20px;
    display: block;
    text-align: left;
    text-transform: capitalize;
}

.member_time {
    font-size: 12px;
    display: inline-block;
    float: left;
    color: #777;
}

@media only screen and (max-width: 1000px) {
    .member {
        height: 256px;
    }

    .member_photo {
        margin: 0;
        float: none;
        width: 144px;
        height: 144px;
        background-size: 144px 144px;
    }

    h5.member_name {
        margin-top: 8px;
        font-size: 90%;
        text-align: center;
    }

    .member_title {
        padding: 0;
        font-size: 80%;
        text-align: center;
    }

    .member_time {
        display: none;
    }
}

@media only screen and (max-width: 840px) {
    .member_photo {
        float: none;
        width: 120px;
        height: 120px;
        background-size: 120px 120px;
    }

    .member {
        height: 200px;
        width: 33%;
    }
}

@media only screen and (max-width: 700px) {
    .member_photo {
        float: none;
        width: 96px;
        height: 96px;
        background-size: 96px 96px;
    }

    .member {
        height: 200px;
        width: 50%;
    }
}
