---

name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  Lint_Css:
    name: Lint (CSS)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.27.0
        with:
          php-version: '8.1'
          tools: composer

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Lint
        run: npx stylelint "_styles/**/*.css" -f github

  Lint_Javascript:
    name: Lint (JS)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.27.0
        with:
          php-version: 8.1
          tools: composer

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Lint
        run: ./_tests/javascript.sh

  Lint_Php:
    name: Lint (PHP)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.27.0
        with:
          php-version: 8.1
          tools: composer

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Lint
        run: ./_tests/php.sh

  Lint_Translations:
    name: Lint (Translations)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.27.0
        with:
          php-version: 8.1
          tools: composer

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Lint
        run: php ./_tests/translations.php

  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.27.0
        with:
          php-version: 8.1
          tools: composer

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
