---

name: Update Translations

on:
  schedule:
    - cron:  "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: 'master'
          token: ${{ secrets.RABBITBOT_TOKEN }}
          submodules: true

      - name: Setup PHP
        uses: shivammathur/setup-php@2.22.0
        with:
          php-version: '7.4'
          tools: composer

      - name: Setup submodules
        run: git submodule init && git submodule update --force --rebase

      - name: Install Composer
        run: cd _backend && composer install

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Update
        run: php _backend/Console/Translation.php

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.RABBITBOT_TOKEN }}
          commit-message: "Automatic update of translations files from source"
          title: "Automatic update of translations files from source"
          branch: "update-translations-from-source"

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
